/* font-face : 웹폰트를 선언! */
@font-face {
	font-family: 'PT';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'PT';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'PT';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), 
    url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), 
    url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
/* body에 기본 글자 스타일 (본문 스타일) 적용 */
body {
    font-family: 'PT';
    font-size: 17px;
    font-weight: 500;
    color: #555; /* 컬러 6글자가 똑같으면 3글자만 써도 적용 */
    line-height: 1.5;
    word-break: keep-all; /* 가독성_단어 줄 넘김 방지 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
}
/* inherit(인에어) : html 태그의 기본 스타일을 리셋 시킴(브라우저가 주는 스타일 무시)
    body에서 선언한 기본 스타일로 적용 */
h1, h2, h3, h4, h5, h6 { /* 다중선택 ( ,로 연결) */
    font-size: inherit;
    font-weight: inherit;
}
strong {
    font-weight: inherit;
}
em {
    font-style: normal; /* 기울어진 글자를 똑바로 세우는 방법 */
}
a {
    color: inherit;
    text-decoration: none; /* 밑줄 삭제 (none과 nomal과 헷갈리지 말 것!) */
}
ol, li, ul {
    list-style: none; /* 앞에 도형 또는 숫자 삭제 */
}
button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer; /* 마우스 오버 시 손바닥 모양으로 변경 (누르는 버튼이라고 표시) */
}
* { /* *(와일드카드) 모든 태그를 칭함 - 여백 삭제 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap {
    /* 최소넓이 없음 */
    position: relative;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
/* html 문서 구조상 문구를 써야하지만,
   디자인에서 구현이 안 되는 글자를 숨겨야 할 때 사용 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.photo {
    overflow: hidden;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 
    넓이를 px로 고정을 할 지, 가변으로 넓이를 줄지 상관없음.
    계속(태블릿, 모바일) 좌우여백을 16px 적용
    1260 + 16 + 16 = 1292px
    1260 + 30 + 30 = 1320px

    좌우의 여백을 가변(%)로 적용할 경우,
    1260*0.1(5%+5%=10%) + 1260 = 126 + 1260 = 1386px
    1260*0.06(3%+3%=6%) + 1260= 75.6 + 1260 = 1336px
*/
@media screen and (max-width:1320px){
    .wrapper {
        width: auto;
        margin: 0 30px;
    }
}
@media screen and (max-width:768px){
/* 브라우저 사이즈 768px부터 그 이하의 사이즈에서만 적용 */
    body {
        font-size: 16px;
    }
    .wrapper {
        margin: 0 16px;
    }
} /* @media */
/* 모든 설정 초기화 */
