@import url(common.css);

.btn {
    margin: 50px 0 50px 0;
}
.btn a {
    padding: 10px 30px 10px 30px;
    display: inline-block;
    border-radius: 50px;
}
.item1 a {
    background-color: #ededed;
}
.item1 a:hover {
    background-color: #375FFF;
    color: #fff;
}
.item2 a {
    border: 1px solid #666;
}
.item2 a:hover {
    border-color: #375FFF;
    color: #375FFF;
}
/*  hover일때만 border를 추가하면 버튼 사이즈가 전, 후가 달라짐
    오버 전에도 동일한 두께의 border를 주면 됨
    background색이랑 동일한 border를 주면 됨 */
.item3 a {
    background-color: #ededed;
    border: 5px solid #ededed;
}
.item3 a:hover {
    background-color: #fff;
    border-color: #375FFF;
    color: #375FFF;
}
.item4 a {
    border: 5px solid #375FFF;
}
.item4 a:hover {
    background-color: #375FFF;
    color: #fff;
}

.gallery {
    margin: 100px 0 100px 0;
}
.gallery ul {
    display: flex;
    justify-content: space-between;
}
.gallery ul li {
    width: 404px;
}
.gallery ul li a {
    display: block; /*a태그에 필수로 줌 */
}
.gallery ul li a .photo {
    overflow: hidden; /* photo에 필수로 줌 */
    border-radius: 20px;
    /* 이미지도 행간이 적용되어 하단에 여백이 발생.
       글자크기와 행간을 0으로 주고 하단 여백 삭제 */
    font-size: 0;
    line-height: 0;
}
.gallery ul li a .photo img {
    transition: 0.5s; /* 변화를 0.5초 동안 천천히 */
}
.gallery ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}


.bbs {
    margin: 100px 0 0 0;
}
.bbs ul {
    display: flex;
    justify-content: space-between;
}
.bbs ul li {
    width: 404px;
}
.bbs ul li a {
    display: block; /*a태그에 필수로 줌 */
}
.bbs ul li a .photo {
    overflow: hidden; /* photo에 필수로 줌 */
    border-radius: 20px;
    height: 404px; /* 넓이는 안 줘도 됨. li에 이미 넓이값을 주었기 때문에 */
    transition: 0.5s;
}
.bbs ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bbs ul li a:hover .photo {
    box-shadow: 0 8px 28px -6px #1319271f, 0 18px 88px -4px #13192724;
    transform: translateY(-10px);
}