@import url(common.css);
.future {
    margin: 140px 0 0 0;
}
.future .tit {
    text-align: center;
}
.future .tit strong {
    font-weight: 700;
    color: #0067db;
}
.future .tit h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: #1d1d1d;
    margin: 15px 0 10px 0;
}
.future .list {
    margin: 50px 0 0 0;
}
.future .list ul {
    display: flex;
    justify-content: space-between;
}
.future .list ul li {
    width: 297px;
    height: 288px;
    color: #fff;
    border-radius: 20px;
    padding: 35px 30px 0 30px;
}
.future .list ul li h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 14px 0;
}
/* li.bj1 (붙여쓰기) - li태그 중 bg1이라는 클래스명을 갖은 li
    li .bg1 (띄어쓰기) - li태그 안에 bg1이라는 클래스명을 갖은 다른 요소 */
.future .list ul li.bg1 {
    background-color: #0ec182;
}
.future .list ul li.bg2 {
    background-color: #0080ef;
}
.future .list ul li.bg3 {
    background-color: #88bcf6;
}
.future .list ul li.bg4 {
    background-color: #0031ca;
}