@import url(common.css);

:root {
    /* pc버전 header 높이 */
    --header-h: 100px;
}
@media screen and (max-width:1024px){
    :root {
        /* 모바일버전 header 높이 */
        --header-h: 56px;
    } 
}/*media*/

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: 0 30px;
    display: flex; /* logo ~ util 좌우배치 */
    justify-content: space-between;
    align-items: center; /* pc뿐만 아니라 모바일에서도 가운데로 구현되기 때문에 위치 잡기 편리함 */
}
header .logo a {
    display: block;
    width: 52px;
    height: 54px;
    background: url(../images/menu_logo_w.svg) no-repeat center center / contain;
    /* contain: 로고나 아이콘처럼 배경에 넣더라도 잘리지 않고 모두 보여야하는 배경 */
}
header .util {
    display: flex; /* lang-search 좌우배치 */
    gap: 0 4px;
}
header .util .lang .lang_open {
    width: 59px;
    height: 59px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i{
    display: block;
    width: 29px;
    height: 29px; /* i 태그의 행간 없애는 방법 중 하나 */
}
header .util .search .search_open {
    width: 59px;
    height: 59px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header .util .search .search_open i {
    display: block;
    width: 26px;
    height: 26px;
}
@media screen and (min-width:1025px){
    /* 1025 이상일 때 = pc버전일 때 적용*/
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* ul.depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h); /* header의 높이와 같아야 함 */
        font-size: 22px;
        font-weight: 700;
        padding: 0 28px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        /*  2차 메뉴는 무조건 absoulute 처리 ( 아래 visual이 있는 상태에서 위로 떠있기 때문에) */
        position: absolute; /* li 기준 정렬 */
        left: 0;
        top: var(--header-h); /* header의 높이만큼 정확하게 */
        width: 100%; /* li 넓이의 100% */
        padding: 18px 0 0 0; /* margin 으로 여백을 주면 하위메뉴로 내려가다가 마우스가 아웃됨 */
        display: none; /* 마우스 오버 했을 때 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0 6px 0;
        text-align: center;
        color: #555;
    }

    /* 메뉴가 열렸을 때 = header class="menu_over" */
    header.menu_over {
        color: #1d1d1d;
    }
    header.menu_over::before {
        content: "";
        position: absolute; /* header 기준 정렬 */
        left: 0;
        top: 0;
        z-index: -1; /* header 내부요소 중에서 가장 아래로 (header 밖으로 못 나감) */
        width: 100%;
        height: 325px;
        background-color: #fff;
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    header.menu_over .logo a {
        background-image: url(../images/menu_logo.svg);
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #245E00;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over >  a span {
        position: relative; /* after 정렬 기준 */
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over >  a span::after {
        content: "";
        position: absolute; /* span 기준 정렬 */
        left: -18px;
        bottom: -38px;
        z-index: 10;
        width: calc(100% + 36px);
        height: 2px;
        background-color: #245E00;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: #245E00;
        text-decoration: underline;
    }
    header.menu_over .util .lang .lang_open i svg path {
        fill: #555;
    }
    header.menu_over .util .search .search_open i svg path {
        fill: #555;
    }
}/*media*/

@media screen and (max-width:1024px){
    /* 1024 이하일 때 = 메뉴가 모바일 버전으로 변경 
            util에서 lang은 사라지고 search는 absolute 처리 
            gnb에 함부로 absolute 하지 말 것!!!!
    */
    header {
        padding: 0 0 0 16px;
    }
    header .logo a {
        width: 26px;
        height: 27px;
    }
    header .gnb .gnb_open {
        width: var(--header-h);
        height: var(--header-h);

        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .gnb .gnb_open i {
        display: block;
        width: 22px;
        height: 14px;
    }
    header .gnb .gnb_wrap {
        display: none; /* 메뉴가 열렸을 때 나타남 */
        position: absolute; /* header 기준 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: #fff;
        color: #555;
        padding: 80px 0 0 0; /* 메뉴 상단 여백 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 13px 54px 13px 16px; /* 아이콘과 맞붙지 않기 위해 오른쪽 여백을 더 줌 */
        font-size: 20px;
        font-weight: 700;
        color: #1d1d1d;
        position: relative; /* after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /* a 기준 정렬 */
        right: 21px;
        top: 18px;
        width: 14px;
        height: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9616 1.01919L6.98081 8L0 1.01919L0.797625 0.221563L6.98081 6.40475L13.164 0.221563L13.9616 1.01919Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #f7f7f7;
        padding: 21px 35px 21px 35px;
        display: none; /* 1차 메뉴를 클릭하면 열림 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0 6px 0;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);

        /* 메뉴가 열리면 flex 줄 예정 - 애니메이션을 주기 위해 미리 스타일을 줌 */
        justify-content: center;
        align-items: center;
    }
    header .gnb .gnb_close i {
        display: block;
        width: 14px;
        height: 14px;
    }
    header .util {
        position: absolute; /* header 기준 정렬 */
        right: var(--header-h);
        top: 0;
    }
    header .util .lang {
        display: none;
    }
    header .util .search .search_open {
        width: 24px;
        height: var(--header-h);
    }
    header .util .search .search_open i {
        width: 18px;
        height: 18px;
        margin: 8px 0 0 0;
    }
    /* 메뉴가 열렸을 때 = header class="menu_open" */
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: flex; /* 아이콘 가운데 때문에 block은 안 됨 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block;
    }
}/*media*/

.visual {
    height: 100dvh;
    background: url(../images/menu_visual.jpg) no-repeat center center / cover;
}