@import url(common.css);
.color {
    margin: 144px 0 0 0;
}
.color .tit h1{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 3px 0;
}
.color .list {
    margin: 48px 0 0 0;
}
.color .list ul {
    display: flex;
    justify-content: space-between;
}
.color .list ul li {
    border-radius: 10px;
    width: 297px;
    height: 394px;
    color: #fff;
    padding: 28px 30px 28px 30px
}
.color .list ul li.hg {
    background-color: #00ad1d;
}
.color .list ul li.pg {
    background-color: #008233;
}
.color .list ul li.db {
    background-color: #003087;
}
.color .list ul li.tb {
    background-color: #002554;
}
.color .list ul li h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 18px 0;
}

.recruit {
    margin: 132px 0 0 0;
}
.recruit .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recruit .tit strong {
    font-weight: 700;
    color: #003087;
}
.recruit .tit h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 17px 0 32px 0;
}
.recruit .tit a {
    border: 1px solid #666;
    padding: 13px 12px 12px 12px;
    border-radius: 25px;
    display: inline-block;
}
.recruit .photo {
    overflow: hidden;
    border-radius: 10px;
    width: 725px;
    height: 435px;
}
.recruit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overview {
    margin: 181px 0 0 0;
    background-color: #f7f7f7;
    padding: 81px 0 81px 0;
}
.overview .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 글자가 늘어날 것을 고려 */
}
.overview h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.overview .inner {
    width: 725px;
}
.overview .inner .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 24px 0;
}
.overview .inner .list {
    margin: 55px 0 0 0;
}
.overview .inner .list ul li {
    display: flex;
    padding: 31px 0 31px 0;
    border-top: 1px solid #ededed;
}
.overview .inner .list ul li:last-child {
    border-bottom: 1px solid #ededed;
}
.overview .inner .list ul li h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    width: 162px;
}

.ship {
    margin: 212px 0 0 0;
}
.ship h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.ship .list {
    margin: 35px 0 0 0;
}
.ship .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.ship .list ul li {
    width: 297px;
    height: 187px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ship .list ul li.bg1 {
    background: url(../images/ci_ship01.jpg);
}
.ship .list ul li.bg2 {
    background: url(../images/ci_ship02.jpg);
}
.ship .list ul li.bg3 {
    background: url(../images/ci_ship03.jpg);
}
.ship .list ul li.bg4 {
    background: url(../images/ci_ship04.jpg);
}
.ship .list ul li.bg5 {
    background: url(../images/ci_ship05.jpg);
}
.ship .list ul li.bg6 {
    background: url(../images/ci_ship06.jpg);
}
.ship .list ul li.bg7 {
    background: url(../images/ci_ship07.jpg);
}
.ship .list ul li.bg8 {
    background: url(../images/ci_ship08.jpg);
}

body {
    margin: 0 0 200px 0;
}