/* 모든 페이지에서 중복되는 스타일 */
body {
    font-family: "Noto Sans KR", sans-serif;
    /* Noto Sans KR은 뒤에 sans-serif 안 붙어있으면 적용이 안 됨 
    구글 폰트여서 구글에 있는 css style 복붙해야함*/
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #1d1d1d;
    word-break: keep-all; /* 단어별로 강제 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    min-width: 1320px; /* 1260 + 30 + 30 = 1320  브라우저의 최소 넓이 */
    position: relative; /* body를 기준으로 정렬 */
}
/* html 문자 구조상 글자를 써야 하는데, 그 해당 글자를 안 보이게 하고 싶을 때 
   class="blind"를 주면 가능 (naver에서 따옴) */
.blind {
    position: absolute;
    clip: rect(0 0 0 0); /* 도형: 네모( ); */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}