@import url(common.css);
@import url(default.css);
@import url(fonts.css);

header {
    display: flex; /* logo - nav-util 나란히 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px; /* wrap을 기준으로 정렬 */
    color: #fff;
}
header .logo a {
    display: block;
    width: 136px;
    height: 52px;
    background: url(../images/logo.svg) no-repeat center center/ contain;
}
header .gnb .gnb_open, 
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li 좌우 배치 */
    align-items: center;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    padding: 0 27px 0 27px;
    line-height: 90px;
    font-size: 20px;
}
header .util {
    display: flex; /* mypage - lang 좌우 배치 */
    gap: 0 2px;
}
header .util .mypage, 
header .util .lang_open {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url(../images/util_mypage.svg);
}
header .util .lang_open {
    background-image: url(../images/util_lang.svg);
}
@media screen and (max-width:768px){
        header {
            padding: 0 0 0 16px;
            height: 56px; /* wrap을 기준으로 정렬 */
        }
        header .logo a {
            width: 78px;
            height: 30px;
            /* contain : 아이콘 이미지를 자르지 않고 다 나오게 함 */
        }
        header .gnb .gnb_open {
            display: block;
            width: 56px;
            height: 56px;
            background: url(../images/gnb_open.svg) no-repeat center center;
        }
        header .gnb .gnb_wrap {
            display: none;
        }
        header .util {
            display: none; /* mypage - lang 좌우 배치 */
        }
}/*@media*/


.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    display: flex;
    align-items: flex-end;
    height: 100dvh; /* 브라우저 높이와 동일하게 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide h3 {
    margin: 0 0 13px 0;
    font-size: 60px;
}
.visual .swiper-slide p {
    margin: 0 0 169px 0;
}
.visual .btn_wrap {
    display: flex;
    gap: 0 8px;
    position: absolute;
    left: calc(50% - 630px); /* 50%(가운데 정렬) - 630px(wrapper 1260px의 절반) 만큼 뺀 위치 */
    bottom: calc(10% + 13px);
    z-index: 1;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/popup_prev.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/popup_play.svg);
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/popup_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/popup_prev.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
        .visual .swiper-slide.popup3 {
            background-image: url(../images/visual_mobile_bg3.jpg);
        }
        .visual .swiper-slide h3 {
            margin: 0 0 13px 0;
            font-size: 44px;
        }
        .visual .swiper-slide h3 br {
            display: none;
        }
        .visual .swiper-slide p {
            margin: 0 0 91px 0;
        }
        .visual .btn_wrap {
            gap: 0 8px;
            left: 50%;
            transform: translateX(-50%);
            /* btn_wrap 넓이의 절반을 왼쪽으로 이동
               left: 50%은 정렬의 기준이 되는 .visual의 절반
               transform: translateX(-50%)는 자기 자신 (.btn_wrap) 넓이 기준으로 절반  */
            bottom: 20px;
        }
        .visual .btn_wrap button {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 37px;
            height: 37px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .visual .btn_wrap button.btn_prev {
            background-image: url(../images/popup_prev.svg);
        }
        .visual .btn_wrap button.btn_play {
            background-image: url(../images/popup_play.svg);
            display: none; /*stop 버튼이 눌려야 보임 */
        }
        .visual .btn_wrap button.btn_stop {
            background-image: url(../images/popup_stop.svg);
        }
        .visual .btn_wrap button.btn_next {
            background-image: url(../images/popup_prev.svg);
            transform: rotate(180deg);
        }
    }/*@media*/


.biz {
    margin: 229px 0 0 0;
}
.biz .wrapper {
    display: flex; /* tit-list 좌우 배치 */
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky; 
    /* 감싸는 요소 안에 고정 (wrapper) 
       단, 감싸는 요소에 한 개라도 overflow: hidden; 속성이 들어가면 작동X*/
    top: 100px;
}
.biz .list {
    width: 720px;
    padding: 0 0 129px 0;
}
.biz .list ul {
    display: flex; /* li 좌우 배치 */
    flex-wrap: wrap; /* 여러 줄 허용 */
    gap: 24px 24px
}
.biz .list ul li {
    width: calc(50% - 12px);
    /* 100 / 한 줄에 나오는 li의 개수 = 100/2 = 50%
       한 줄 여백의 합 / 한 줄에 나오는 li의 개수 = 24/2 = 12px */
}
.biz .list ul li:nth-child(odd) { /* odd: 홀수 even: 짝수 */
    transform: translateY(129px); 
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.biz .list ul li a .photo {
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
    height: 550px;
    border-radius: 30px;
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #014289;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a .photo::after {
    content: "";
    position: absolute;
    right: 29px;
    top: 29px;
    width: 37px;
    height: 37px;
    color: #fff;
    opacity: 0;
    background: url(../images/biz_more.svg) no-repeat center center;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 30px;
    width: calc(100% - 60px); /* left*2 */
    bottom: -34px;
    color: #fff;
    transition: 0.5s;
}
.biz .list ul li a .txt h3 {
    font-size: 28px;
}
.biz .list ul li a .txt p {
    margin: 16px 0 0 0;
    opacity: 0;
}
@media screen and (min-width:769px){ /* 769px 이상부터 적용 */ 
        .biz .list ul li a:hover .photo::before {
            /* a에 마우스 over 시*/
            opacity: 0.8; /* 80% /단위 X */
        }
        .biz .list ul li a:hover .photo::after {
            opacity: 1;
        }
        .biz .list ul li a:hover .txt {
            /* a에 마우스 over 시*/
            bottom: 60px;
        }
        .biz .list ul li a:hover .txt p {
            /* a에 마우스 over 시*/
            opacity: 1;
        }
} /*@media*/
@media screen and (max-width:768px){ /* 768px 이하부터 적용 */
        .biz {
            margin: 137px 0 0 0;
        }
        .biz .wrapper {
            display: block; /* tit-list의 좌우배치를 취소 flex -> block */
        }
        .biz .tit {
            position: relative; /* stiky -> relative 고정값 풀기 */
            top: auto; /* top을 선언하지 않은 것처럼 해지. 0이랑 다름 */
        }
        .biz .list {
            margin: 25px 0 0 0;
            padding: 0;
            width: auto; 
            /* width를 해지 - 원래 들어가야 할 값이 들어가게 수정. 
               .list가 block요소이기 때문에 100% 들어간다는 의미 */
        }
        .biz .list ul {
            /* flex 유지 */
            flex-wrap: nowrap; /*한 줄 */
            flex-direction: column; /* 세로 */
            gap: 16px 0 /* 상하 - 좌우 */
        }
        .biz .list ul li {
            width: auto; /* ?????????????????????? */
        }
        .biz .list ul li:nth-child(odd) { /* odd: 홀수 even: 짝수 */
            transform: translateY(0); 
        }
        .biz .list ul li a .photo {
            height: 162px;
            border-radius: 15px;
        }
        .biz .list ul li a .txt {
            /* absolute 유지 */
            left: 15px;
            width: calc(100% - 30px);
            bottom: 30px;
        }
        .biz .list ul li a .txt h3 {
            font-size: 24px;
        }
        .biz .list ul li a .txt p {
            display: none;
        }
}/*@media*/


.notice {
    margin: 156px 0 0 0;
    padding: 156px 0 156px 0;
    background-color: #F3F6F9;
}
.notice .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.notice .list {
    margin: 58px 0 0 0;
}
.notice .list ul li {
    margin: 0 0 12px 0;
}
.notice .list ul li:last-child {
    margin-bottom: 0; /* 하단 여백만 0 처리 */
}
.notice .list ul li a {
    display: flex; /* inner - span 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 20px 56px 20px 56px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.06);
}
.notice .list ul li a:hover {
    /* 마우스 오버 시 */
    border: 1.5px solid #0E86F5;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
}
.notice .list ul li a .inner {
    display: flex; /* strong - h3 좌우 배치 */
    align-items: center;
    gap: 0 20px;
    width: calc(100% - 132px); /* 오른쪽에 날짜 들어간 공간 빼고의 넓이 */
    font-size: 17px;
    font-weight: 500;
}
.notice .list ul li a .inner strong {
    display: block;
    padding: 3px 12px 2px 12px;
    background-color: #5A697C;
    border-radius: 5px;
    color: #fff;
}
.notice .list ul li.cate_sch a .inner strong {
    background-color: #233040;
}
.notice .list ul li a .inner h3 {
    margin: 4px 0 0 0;
    /* 1줄 제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice .list ul li a:hover .inner h3 {
    /* 마우스 오버 시 */
    position: relative; /* before 정렬의 기준 */
    color: #0E86F5;
}
.notice .list ul li a:hover .inner h3::before {
    /* 마우스 오버 시 */
    content: "";
    position: absolute; /* h3 기준으로 정렬 */
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: #0E86F5;
}
.notice .list ul li a span {
    color: #767676;
}
.notice .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 63px;
}
.notice .more a {
    display: block;
    padding: 0 25px 0 0;
    color: #767676;
}
.notice .more a:hover {
    /* 마우스 오버 시 */
    color: #014289;
}
.notice .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 2px;
    top: 7px;
    width: 13px;
    height: 13px;
    background: url(../images/notice_more.svg) no-repeat center center;
    transition: 2s;
}
.notice .more a:hover::after {
    /* 마우스 오버 시 */
    background-image: url(../images/notice_more_over.svg);
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
        .notice {
            margin: 96px 0 0 0;
            padding: 109px 0 75px 0;
        }
        .notice .tit {
            width: calc(100% - 42px); /* tit과 more이 화면이 좁아져도 겹쳐지지 않게 넓이값 줌 */
        }
        .notice .list {
            margin: 56  px 0 0 0;
        }
        .notice .list ul li {
            margin: 0 0 16px 0;
        }
        .notice .list ul li:last-child {
            display: none; 
            /* 마지막 li는 안 보이게 삭제
               li:nth-last-child(2) { } 는 마지막에서 2번째 li 삭제 */
        }
        .notice .list ul li a {
            display: block; /* flex 해제 */
            padding: 20px 20px;
            border-radius: 15px;
            box-shadow: none;
        }
        .notice .list ul li a .inner {
            display: block; /* flex 해제 */
            width: auto;
            font-size: 16px;
        }
        .notice .list ul li a .inner strong {
            display: inline-block;
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            color: #1D1D1D;
        }
        .notice .list ul li.cate_sch a .inner strong {
            background-color: transparent;
            color: #014289;
        }
        .notice .list ul li a .inner h3 {
            margin: 6px 0 0 0;
        }
        .notice .list ul li a span {
            font-size: 12px;
        }
        .notice .more {
            top: 39px;
        }
        .notice .more a {
            padding: 0;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #014289 url(../images/notice_more2.svg) no-repeat center center;
        }
        .notice .more a::after {
            display: none; /* 모바일에서 아이콘이 바뀔 때 */
            /* 
            pc화면에서 쓰던 아이콘과 동일 할 경우
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: 14px; 
            */
        }
        .notice .more a span {
            display: none;
        }
}/*@media*/


.webzine {
    padding: 195px 0 156px 0;
    background-color: #014289;
    color: #fff;
    overflow: hidden; /* 가로 스크롤 바 없애기 */
    position: relative; /* more 정렬의 기준 */
}
.webzine .tit strong {
    color: #90BFDB;
}
.webzine .tit h2 br {
    display: none;
}
.webzine .list {
    margin: 58px auto 0 auto;
    width: 1260px;
    /*
    margin: 58px 0 0 0; 
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px); */
}
.webzine .list .swiper {
    /* margin: 0 24px 0 0; */
    overflow: visible;
}
.webzine .list .swiper-slide {
    width: 404px;
}
.webzine .list .swiper-slide a {
    display: block;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 546px;
    background-color: #fff;
    color: #1D1D1D;
    transition: 0.5s;
}
.webzine .list .swiper-slide:hover a {
    /* 마우스 오버 시 */
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translate(-10px, -20px);
}
.webzine .list .swiper-slide a .photo {
    overflow: hidden;
    height: 252px;
    border-radius: 30px 30px 0 0;
}
.webzine .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.webzine .list .swiper-slide:hover a .photo img {
    /* 마우스 오버 시 */
    transform: scale3d(1.2, 1.2, 1);
}
.webzine .list .swiper-slide a .txt {
    margin: 30px 30px 0 30px;
}
.webzine .list .swiper-slide a .txt .cate {
    display: block;
    color: #014289;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.webzine .list .swiper-slide a .txt h3 {
    margin: 8px 0 20px 0;
    font-size: 28px;
    /* 2줄 제한 */
    line-height: 1.3;
    height: 2.6em; /* 행간 * 줄 수 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt p {
    /* 3줄 제한 */
        line-height: 1.5;
        height: 4.5em; /* 행간 * 줄 수 */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}
.webzine .more {
    position: absolute; /* webzine을 기준으로 정렬 */
    right: calc(50% - 630px);
    top: 255px;
}
.webzine .more a {
    display: block;
    padding: 0 25px 0 0;
    color: #fff;
}
.webzine .more a::after {
    content: "";
    position: absolute;
    /* more를 기준으로 정렬 */
    right: 2px;
    top: 7px;
    width: 13px;
    height: 13px;
    background: url(../images/notice_more2.svg) no-repeat center center;
    transition: 2s;
}
.webzine .more a:hover::after {
    /* 마우스 오버 시 */
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
        .webzine {
            padding: 108px 0 75px 0;
        }
        .webzine .tit h2 br {
            display: block;
        }
        .webzine .list {
            margin: 56px 16px 0 16px;
            width: auto;
        }
        .webzine .list .swiper-slide {
            width: 300px;
        }
        .webzine .list .swiper-slide a {
            border-radius: 15px;
            height: 416px;
        }
        .webzine .list .swiper-slide a .photo {
            height: 178px;
            border-radius: 15px 15px 0 0;
        }
        .webzine .list .swiper-slide a .txt {
            margin: 15px 16px 0 16px;
        }
        .webzine .list .swiper-slide a .txt h3 {
            margin: 7px 0 10px 0;
            font-size: 22px;
        }
        .webzine .more {
            right: 16px;
            top: 188px;
        }
        .webzine .more a {
            padding: 0;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #fff url(../images/notice_more.svg) no-repeat center center;
        }
        .webzine .more a::after {
            display: none;
        }
        .webzine .more a span {
            display: none;
        }
}/*media*/


.service {
    margin: 156px 0 0 0;
}
.service .tit h2 br {
    display: none;
}
.service .list {
    margin: 58px 0 0 0;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /* 넓이 100 / 한줄에 들어가는 li의 개수 (3) = 33.33%
       한줄 여백의 합 / 한줄에 들어가는 li의 개수 = 48/3 = 16 */
}
.service .list ul li a {
    display: block;
    position: relative;
    padding: 30px 99px 30px 30px;
    background-color: #F3F6F9;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: transform 0.5s;
}
.service .list ul li:hover a {
    /* 마우스 오버 시 */
    transform: translate(-10px, -10px);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1.5px solid #014289;
}
.service .list ul li a::after {
    content: "";
    position: absolute;
    right: 30px;
    top: calc(50% - 13px); /* 디바이스 사이즈가 바뀌어도 높이값 유지 (높이값 절반) */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #014289 url(../images/service_more.svg) no-repeat center center;
    transition: transform 2s;
}
.service .list ul li:hover a::after {
    /* 마우스 오버 시 */
    transform: rotate(360deg);
}
.service .list ul li a strong {
    margin: 2px 0 0 0;
}
.service .list ul li a h3 {
    font-size: 24px;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width:768px){
        .service {
            margin: 106px 0 0 0;
        }
        .service .tit h2 br {
            display: block;
        }
        .service .list {
            margin: 56px 0 0 0;
        }
        .service .list ul {
            flex-direction: column; /* 세로방향 전환 */
            gap: 16px 0;
        }
        .service .list ul li {
            width: auto;
        }
        .service .list ul li a {
            padding: 20px 72px 20px 20px;
            box-shadow: none;
        }
        .service .list ul li:hover a {
            transform: translate(0, 0); /* 움직임 취소 */
        }
        .service .list ul li a::after {
            right: 20px;
            top: calc(50% - 14px);
            width: 28px;
            height: 28px;
            background-size: 14px; /* 아이콘의 넓이만 변경 시 아이콘의 크기 주기 */
        }
        .service .list ul li a h3 {
            font-size: 22px;
        }
}/*media*/


footer {
    margin: 171px 0 0 0;
    padding: 78px 0 100px 0;
    border-top: 1px solid #747474;
    color: #666;
}
footer .wrapper {
    position: relative; /* top 정렬의 기준 */
}
footer .top {
    padding: 16px 0 0 0;
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border: 1px solid #747474;
    border-radius: 50%;
    font-size: 14px;
}
footer .top::before {
    content: "";
    position: absolute; /* top을 기준으로 정렬 */
    left: 0;
    top: 11px;
    width: 100%;
    height: 15px;
    background: url(../images/top.svg) no-repeat center center;
}
footer .top:hover {
    border: 1px solid #014289;
    background-color: #014289;
    color: #fff;
}
footer .top:hover::before {
    background-image: url(../images/top_over.svg);
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap; /* 모바일 줄바꿈 */
    gap: 5px 38px; /* 모바일 사이즈로 줄어들 때 txt 위아래 여백 임의로 주기 */
}
footer .f_nav ul li {
    position: relative;  /* after 정렬의 기준 */
}
footer .f_nav ul li.edu {
    font-weight: 700;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute; /* li 기준으로 정렬 */
    right: -18px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: #747474;
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_nav ul li a:hover {
    text-decoration: underline;
}
footer .f_info {
    display: flex;
    flex-wrap: wrap; /* 모바일 줄바꿈 */
    margin: 20px 0 20px 0;
    gap: 5px 38px; /* 모바일 사이즈로 줄어들 때 txt 위아래 여백 임의로 주기 */
}
@media screen and (max-width:768px){
         footer {
            margin: 74px 0 0 0;
            padding: 82px 0 82px 0;
            border-top: 1px solid #bbb;
            color: #777;
        }
        footer .top {
            padding: 11px 0 0 0;
            top: -62px;
            width: 46px;
            height: 46px;
            border: transparent;
            background-color: #014289;
            font-size: 12px;
            color: #fff;
        }
        footer .top::before {
            top: 7px;
            height: 12px;
            background-image: url(../images/top_over.svg);
        }
}/*media*/