/* 모든 페이지에서 중복되는 스타일 */
:root {
    --color-txt-title : #1C2B33;
    --color-txt-basic : #30424B;
    --color-main : #00A642;
    --color-dark : #111;
    --color-gray : #EDEDED;
    --color-gray2 : #fafafa;
    --color-white : #fff;
    --color-white8 : rgba(255, 255, 255, 0.8);
    --color-white7 : rgba(255, 255, 255, 0.7);
    --color-white1 : rgba(255, 255, 255, 0.1);
    --header-h : 90px;
    --wrapper-m : 30px;
    --letter-spacing: -0.3rem;
}
@media screen and (max-width:1024px){
    :root {
        --header-h : 70px;
    }
}
@media screen and (max-width:768px){
    :root {
        --header-h : 56px;
        --wrapper-m : 16px;
    }
}

html {
    font-size: 10px;
}

body {
    font-family: 'NanumSquareNeo', sans-serif;
    /* 반드시 영문폰트는 한글이 지원이 안 되는 폰트여야 함
        font-family에서 영문폰트를 먼저 선언 -> 한글폰트 선언
        영문폰트를 먼저 적용하고 지원이 안 되는 한글을 만나면 다음 폰트가 적용
    */
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-txt-basic);
    word-break: keep-all; /* 단어별로 강제 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
}

.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}

#wrap {
    position: relative; /* header를 기준으로 정렬 */
    /* overflow: hidden; stiker가 안될 수도 있음 - 요즘 잘 안 주는게 트렌드 */
}

/* html 문자 구조상 글자를 써야 하는데, 그 해당 글자를 안 보이게 하고 싶을 때 
   class="blind"를 주면 가능 (naver에서 따옴) */
.blind {
    position: absolute;
    clip: rect(0 0 0 0); /* 도형: 네모( ); */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/*
    좌우여백 50px : 1260 + 30 + 30 = 1320px
    좌우여백 5% : 1260 + (1260*0.05) + (1260*0.05) = 1386
    좌우여백 3% : 1260 + (1260*0.03) + (1260*0.03) = 1335.6  
*/
@media screen and (max-width:1320px){
    .wrapper {
        width: auto;
        margin: 0 var(--wrapper-m);
    }
} /*@media*/


.mo_only { /* 모바일에서만 보임 */
    display: none;
}

@media screen and (max-width:768px){
    .mo_only { /* 모바일에서만 보임 */
        display: block;
    }
    .pc_only {
        display: none;
    }
}

::selection { /* 글자 긁을 때 나오는 컬러 */
    background-color: var(--color-main);
    color: var(--color-white);
}