/***********************************
* 파일명 : main.css
* 작성자 : 신수진
* 작성일 : 25-11-05
************************************/

@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual .swiper {
    /* visual을 기준으로 */
    width: 100%;
    height: 100%;
}
.visual .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.visual .swiper-slide:nth-child(3)::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.visual .swiper-slide .photo,
.visual .swiper-slide .video {
    position: absolute; /* swiper-slide 기준 정렬 */
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .photo img {
    transition: transform 5s;
    transform: scale3d(1.2, 1.2, 1);
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .txt {
    text-align: center;
    color: var(--color-white);
    margin: calc(var(--header-h) + 20px) 0 40px 0;
}
.visual .swiper-slide .txt strong, 
.visual .swiper-slide .txt h3,
.visual .swiper-slide .txt a {
    transition: transform 1s, opacity 1s;
    opacity: 0;
    transform: translateY(100px);
}
.visual .swiper-slide .txt strong {
    display: block;
    font-weight: 700;
    transition-delay: 0.1s;
}
.visual .swiper-slide .txt h3 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin: 20px 0 46px 0;
    transition-delay: 0.2s;
}
.visual .swiper-slide .txt a {
    display: inline-block;
    position: relative;
    transition-delay: 0.3s;
}
.visual .swiper-slide.swiper-slide-active .txt strong, 
.visual .swiper-slide.swiper-slide-active .txt h3,
.visual .swiper-slide.swiper-slide-active .txt a {
    opacity: 1;
    transform: translateY(0);
}
.visual .swiper-slide .txt a::after {
    content: "";
    position: absolute; /* a 기준 정렬 */
    right: -17px;
    top: 5px;
    width: 9px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8.74px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.673156 9.15763L0 8.48447L3.90566 4.57881L0 0.673157L0.673156 0L5.25197 4.57881L0.673156 9.15763Z' /%3E%3C/svg%3E%0A");
}
.visual .paging {
    position: absolute; /* visual 기준 정렬 */
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
}
.visual .paging ul {
    display: flex;
}
.visual .paging ul li.swiper-pagination-bullet {
    margin: 0;
    width: 25%;
    height: 80px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    opacity: 1;
    color: var(--color-white8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.03em;
    border: 1px solid var(--color-white3);
    transition: 0.3s;
}
.visual .paging ul li.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #10815D;
    color: var(--color-white);
    border-color: var(--color-main);
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: 40px;
    }
    .visual .paging ul li.swiper-pagination-bullet {
        font-size: clamp(17px, 1.5vw, 20px);
    }
}/*media*/
@media screen and (max-width:768px){
    .visual .swiper-slide {
        height: 600px;
    }
    .visual .swiper-slide .txt h3 {
        font-size: 28px;
        margin: 14px 0;
    }
    .visual .swiper-slide .txt a {
        font-size: 14px;
    }
    .visual .swiper-slide .txt a::after {
        right: -11px;
        top: 4.5px;
        width: 6px;
        height: 10px;
        background-size: 5.54px;
    }
    .visual .paging {
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: auto;
        max-width: 100%;
        height: 80px;
    }
    .visual .paging ul {
        gap: 0 5px;
    }
    .visual .paging ul li.swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        border-radius: 5px;
        background-color: var(--color-white7);
        backdrop-filter: none;
        border: none;
    }
    .visual .paging ul li.swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 73px;
        background-color: var(--color-white);
    }
    .visual .paging ul li.swiper-pagination-bullet span {
        display: none;
    }
}/*media*/


.tree .wrapper {
    display: flex; /* tit-photo 좌우 */
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--header-h) + 10px);
    margin-bottom: 20px;
}
.tree .tit h2 {
    color: var(--color-main);
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}
.tree .tit h2 strong {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin: 0 7px 0 0;
}
.tree .tit h2 span {
    margin-bottom: 17px;
}
.tree .photo {
    position: relative; /* img 정렬 기준 */
    padding-left: 6%;
    width: 55%;
    max-width: 605px;
    min-width: 300px;
    text-align: center;
}
.tree .photo .tree_img {
    width: 90%;
    position: relative;
    z-index: 3;
    overflow: hidden;

}
.tree .photo .cloud01 {
    position: absolute;
    right: -10%;
    top: 13%;
    width: 33%;
    z-index: 2;
    animation: tree_cloud01 2.5s linear infinite;
}
@keyframes tree_cloud01 {
    0% { transform: translateY(0);}
    50% { transform: translateY(20%);}
    100% { transform: translateY(0);}
}
.tree .photo .cloud02 {
    position: absolute;
    left: 1%;
    bottom: 28%;
    width: 35%;
    z-index: 2;
    animation: tree_cloud02 2.5s linear infinite;
}
@keyframes tree_cloud02 {
    0% { transform: translateX(0);}
    50% { transform: translateX(20%);}
    100% { transform: translateX(0);}
}
.tree .photo .sun {
    position: absolute;
    right: -4%;
    top: -12%;
    width: 28%;
    z-index: 1;
    animation: tree_sun 2.5s linear infinite alternate;
}
@keyframes tree_sun {
    from { transform: rotate(-20deg); }
    to { transform: rotate(20deg); }
}
@media screen and (max-width:1024px){
    .tree .wrapper {
        flex-direction: column;
        gap: 78px 0;
        text-align: center;
        margin-bottom: 20px;

    }
    .tree .tit h2 {
        justify-content: center;
        margin: 0 0 14px 0;
    }
}/*media*/
@media screen and (max-width:768px){
    .tree .tit h2 strong {
        font-size: 40px;
        margin: 0 5px 0 0;
    }
    .tree .tit h2 span {
        margin-bottom: 14px;
    }
}/*media*/

.work {
    background-color: var(--color-txt-title);
    color: var(--color-white);
}
.work .wrapper {
    display: flex; /* tit-list 좌우배치 */
    justify-content: space-between;
    align-items: center;
    padding-top: calc(var(--header-h) + 10px);
    padding-bottom: 20px;
}
.work .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin: 0 0 16px 0;
}
.work .tit h2 span {
    color: var(--color-main);
}
.work .list {
    width: 60%;
    max-width: 710px;
}
.work .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 24px;
}
.work .list ul li {
    width: calc(50% - 12px)
}
 /* li:nth-child(odd: 홀수, even: 짝수) */
.work .list ul li:nth-child(odd) {
    transform: translateY(17px);
}
.work .list ul li:nth-child(even) {
    transform: translateY(-17px);
}
.work .list ul li a {
    display: block;
    height: 179px;
    background-color: var(--color-white1);
    border-radius: 20px;
    padding: 120px 0 0 25px;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.03em;
    position: relative;
    overflow: hidden;
}
.work .list ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height 0.5s;
}
.work .list ul li.icon1 a::before {
    background-image: url(../images/main/work_list01.jpg);
}.work .list ul li.icon2 a::before {
    background-image: url(../images/main/work_list02.jpg);
}.work .list ul li.icon3 a::before {
    background-image: url(../images/main/work_list03.jpg);
}.work .list ul li.icon4 a::before {
    background-image: url(../images/main/work_list04.jpg);
}.work .list ul li.icon5 a::before {
    background-image: url(../images/main/work_list05.jpg);
}.work .list ul li.icon6 a::before {
    background-image: url(../images/main/work_list06.jpg);
}
.work .list ul li a:hover::before {
    height: 100%;
}
.work .list ul li a span {
    position: relative; /* before, after 정렬기준 */
    display: block;
}
.work .list ul li a span::before {
    content: "";
    position: absolute; /* span 기준 정렬 */
    left: 0;
    bottom: 47px;
    width: 72px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 3.2727em;
}
.work .list ul li.icon1 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 71' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.0127 69.0811H67.3645V52.7943L67.81 52.6743C70.3144 52.0027 72 49.9159 72 47.4932C72 44.4709 69.5799 42.0963 66.5097 42.0963C63.4395 42.0963 61.0194 44.4709 61.0194 47.4932C61.0194 49.9519 62.7652 52.1226 65.1732 52.6623L65.6428 52.7703V69.0811H56.6488V13.9122H61.8742C62.404 13.9122 62.8615 13.4684 62.8615 12.9527V0.959459C62.8615 0.455743 62.404 0 61.8742 0H10.1137C9.59599 0 9.13846 0.455743 9.13846 0.959459V12.9527C9.13846 13.4684 9.59599 13.9122 10.1137 13.9122H15.2187V69.0811H6.34515V52.7943L6.79064 52.6743C9.29498 52.0027 10.9686 49.9159 10.9686 47.4932C10.9686 44.4709 8.56053 42.0963 5.4903 42.0963C2.42007 42.0963 0 44.4709 0 47.4932C0 49.9519 1.74582 52.1226 4.15385 52.6623L4.62341 52.7703V69.0811H0.975251C0.457525 69.0811 0 69.5368 0 70.0405C0 70.5443 0.457525 71 0.975251 71H71.0127C71.5304 71 72 70.5562 72 70.0405C71.9157 69.5368 71.398 69.0811 71.0127 69.0811ZM1.84214 47.4932C1.84214 45.4784 3.44348 43.8953 5.4903 43.8953C7.53712 43.8953 9.13846 45.4784 9.13846 47.4932C9.13846 49.5081 7.53712 51.0912 5.4903 51.0912C3.44348 51.0912 1.84214 49.5081 1.84214 47.4932ZM10.9686 12.1132V1.91892H60.899V12.1132H10.9686ZM54.8067 69.0811H17.0609V13.9122H54.8067V69.0811ZM62.7411 47.4932C62.7411 45.4784 64.3425 43.8953 66.3893 43.8953C68.4361 43.8953 70.0375 45.4784 70.0375 47.4932C70.0375 49.5081 68.4241 51.0912 66.3893 51.0912C64.3545 51.0912 62.7411 49.5081 62.7411 47.4932Z'/%3E%3Cpath d='M29.8476 22.667H23.7553C23.2376 22.667 22.78 23.1227 22.78 23.6265V29.6231C22.78 30.1388 23.2376 30.5825 23.7553 30.5825H29.8476C30.3653 30.5825 30.8228 30.1388 30.8228 29.6231V23.6265C30.8228 22.9668 30.3172 22.667 29.8476 22.667ZM28.9807 28.6636H24.7426V24.466H28.9807V28.6636Z' /%3E%3Cpath d='M48.1125 22.667H42.0202C41.5024 22.667 41.0449 23.1227 41.0449 23.6265V29.6231C41.0449 30.1388 41.5024 30.5825 42.0202 30.5825H48.1125C48.6422 30.5825 49.0998 30.1388 49.0998 29.6231V23.6265C49.0998 22.9668 48.582 22.667 48.1125 22.667ZM47.2576 28.6636H43.0075V24.466H47.2576V28.6636Z' fill='white'/%3E%3Cpath d='M29.8476 36.0996H23.7553C23.2376 36.0996 22.78 36.5554 22.78 37.0591V43.0557C22.78 43.5714 23.2376 44.0152 23.7553 44.0152H29.8476C30.3653 44.0152 30.8228 43.5714 30.8228 43.0557V37.0591C30.8228 36.5554 30.3653 36.0996 29.8476 36.0996ZM28.9807 42.0962H24.7426V37.8986H28.9807V42.0962Z' /%3E%3Cpath d='M48.1125 36.0996H42.0202C41.5024 36.0996 41.0449 36.5554 41.0449 37.0591V43.0557C41.0449 43.5714 41.5024 44.0152 42.0202 44.0152H48.1125C48.6422 44.0152 49.0998 43.5714 49.0998 43.0557V37.0591C49.0998 36.5554 48.6422 36.0996 48.1125 36.0996ZM47.2576 42.0962H43.0075V37.8986H47.2576V42.0962Z' /%3E%3Cpath d='M29.8476 49.6519H23.7553C23.2376 49.6519 22.78 50.1076 22.78 50.6113V56.6079C22.78 57.1236 23.2376 57.5674 23.7553 57.5674H29.8476C30.3653 57.5674 30.8228 57.1236 30.8228 56.6079V50.6113C30.8228 49.9517 30.3172 49.6519 29.8476 49.6519ZM28.9807 55.6485H24.7426V51.4508H28.9807V55.6485Z' /%3E%3Cpath d='M48.1125 49.6519H42.0202C41.5024 49.6519 41.0449 50.1076 41.0449 50.6113V56.6079C41.0449 57.1236 41.5024 57.5674 42.0202 57.5674H48.1125C48.6422 57.5674 49.0998 57.1236 49.0998 56.6079V50.6113C49.0998 49.9517 48.582 49.6519 48.1125 49.6519ZM47.2576 55.6485H43.0075V51.4508H47.2576V55.6485Z' /%3E%3C/svg%3E%0A");
}
.work .list ul li.icon2 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 55' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M72 6.62845C72 2.97472 69.0174 0 65.3506 0C61.6837 0 58.7011 2.97472 58.7011 6.62845C58.7011 10.0235 61.3203 12.8905 64.6771 13.203V53.2863H57.1617V25.5761C57.1617 25.0696 56.7234 24.6816 56.3385 24.6816H46.7599V13.785C46.7599 13.6341 46.7278 13.4186 46.482 13.1707L36.5719 4.3543C36.2405 4.02018 35.6632 4.02018 35.3318 4.3543L25.4218 13.1707C25.2722 13.3108 25.1332 13.6018 25.1332 13.785V24.757H15.5546C15.0735 24.757 14.6566 25.1666 14.6566 25.6516V53.2863H7.30156V23.981C10.669 23.6684 13.2882 20.8015 13.2882 17.3956C13.2882 13.7419 10.3056 10.7672 6.63875 10.7672C2.97194 10.7672 0 13.7527 0 17.4064C0 20.8015 2.61915 23.6684 5.97595 23.981V53.2863H4.81069C4.34031 53.2863 3.96615 53.6635 3.96615 54.1378C3.96615 54.612 4.34031 54.9892 4.81069 54.9892H67.0076C67.478 54.9892 67.8521 54.612 67.8521 54.1378C67.8521 53.6635 67.478 53.2863 67.0076 53.2863H66.0027V13.2138C69.3702 12.9012 71.9893 10.0343 71.9893 6.62845H72ZM6.69221 16.2747C6.32873 16.2747 6.0294 16.5765 6.0294 16.943V18.5381L4.10512 16.943C3.85924 16.749 3.45301 16.7274 3.18575 17.0508C2.99332 17.2986 2.98263 17.7082 3.29265 17.9669L6.07216 20.2734V22.7739C3.35679 22.3535 1.32561 20.0794 1.32561 17.4172C1.32561 14.4748 3.73096 12.0713 6.69221 12.0713C9.65345 12.0713 12.0588 14.464 12.0588 17.4172C12.0588 20.1009 10.0169 22.3966 7.35501 22.6984V16.9322C7.35501 16.5765 7.04499 16.264 6.69221 16.264V16.2747ZM39.5225 53.2971H32.392V43.7155C32.392 41.7215 33.9635 40.1587 35.9626 40.1587C37.9617 40.1587 39.5332 41.7215 39.5332 43.7155V53.2971H39.5225ZM55.5902 53.2971H41.2437V43.7155C41.2437 40.8593 38.8276 38.4558 35.9626 38.4558C33.0975 38.4558 30.6815 40.8162 30.6815 43.7155V53.2971H16.4739V26.406H26.0526C26.5229 26.406 26.9399 25.9857 26.9399 25.5115V14.076L36.0374 6.07878L45.135 14.076V25.5115C45.135 25.9965 45.5412 26.406 46.033 26.406H55.6116V53.2971H55.5902ZM65.3933 5.49677C65.0298 5.49677 64.7305 5.79855 64.7305 6.165V7.76014L62.8062 6.165C62.5604 5.971 62.1541 5.94944 61.8869 6.27278C61.6944 6.52067 61.6837 6.93024 61.9938 7.18891L64.7733 9.4954V11.9959C62.0579 11.5755 60.0267 9.30139 60.0267 6.63923C60.0267 3.69685 62.4321 1.29336 65.3933 1.29336C68.3546 1.29336 70.7599 3.68607 70.7599 6.63923C70.7599 9.32295 68.718 11.6187 66.0561 11.9204V6.15422C66.0561 5.79855 65.7461 5.48599 65.3933 5.48599V5.49677Z' /%3E%3C/svg%3E%0A");
}
.work .list ul li.icon3 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 72' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_4020)'%3E%3Cpath d='M32.2495 17.0999C30.7073 16.84 29.1528 16.7163 27.6107 16.7163C21.109 16.7163 14.7923 19.0054 9.75874 23.2618C3.55312 28.5328 0 36.2289 0 44.3829C0 50.9531 2.34407 57.3377 6.61275 62.3613C16.2111 73.5714 32.854 75.2295 44.4757 66.1351C51.2488 60.8765 55.135 52.9452 55.135 44.3829C55.135 30.8466 45.512 19.3642 32.2495 17.0999ZM7.67375 60.4558L7.6244 60.3939C3.97258 55.7911 1.96162 50.0746 1.96162 44.2963C2.06032 33.3707 9.06785 23.6577 19.4064 20.1066L19.5915 20.0447L18.5305 26.5902C17.9753 27.4192 16.3098 29.9309 15.6559 30.5867L15.6066 30.6239C15.0514 30.7971 13.8547 31.7127 10.7457 34.2121C10.5977 34.2863 10.5113 34.4101 10.4249 34.707L9.22824 38.2087C9.22824 38.2087 9.19123 38.3324 9.17889 38.4066C9.15421 38.4561 9.12954 38.5304 9.12954 38.5551V42.0691C9.12954 42.3537 9.24058 42.5888 9.46265 42.8239L11.8684 45.2243C12.2879 45.5584 12.8677 45.5336 13.2625 45.1377L13.8794 44.519L17.2598 46.2513V47.8103L16.1494 52.1904C16.0631 52.5493 16.1618 52.9576 16.3838 53.1927L19.7395 56.5582L20.2577 57.6099L18.0617 58.3028H13.6203C13.6203 58.3028 13.3982 58.3028 13.3489 58.3647L13.2995 58.3895L7.67375 60.4558ZM42.218 65.3185C37.9616 68.3747 32.8417 70.0079 27.586 70.0079C26.8211 70.0079 26.0562 69.9708 25.279 69.909C19.2461 69.3522 13.608 66.6672 9.38862 62.3489L9.25291 62.2128L13.904 60.4682H18.3331C18.3331 60.4682 18.5552 60.4682 18.6169 60.4063L18.6662 60.3815L22.17 59.1813C22.392 59.1071 22.6388 58.8844 22.8362 58.5874C22.9226 58.34 22.9102 58.0059 22.8362 57.7584L21.6518 55.4817C21.6518 55.4817 21.5655 55.3704 21.5531 55.3209C21.5284 55.2838 21.5038 55.2466 21.4791 55.2219L18.4688 52.2028L18.4935 52.141C18.9993 50.0004 19.2584 48.9981 19.3818 48.5156C19.464 48.1939 19.5051 47.9918 19.5051 47.9093V45.5955C19.5051 45.2119 19.2831 44.8655 18.9253 44.6799L14.3112 42.3661C13.9164 42.2176 13.4106 42.2795 13.1638 42.5269L12.7073 42.9847L11.2886 41.6608V38.7902C11.4736 38.2334 12.3125 35.833 12.3125 35.833V35.7959H12.3496C13.8794 34.4472 15.6929 33.0861 16.2481 32.8139H16.2975C16.3962 32.8015 16.4332 32.7892 16.4949 32.7397L16.5319 32.7149C16.9513 32.5417 17.4818 31.9478 18.6045 30.3516C19.2337 29.535 19.8629 28.5451 20.3564 27.7656C20.3687 27.7161 20.3934 27.679 20.4181 27.6295C20.4798 27.5305 20.5168 27.4687 20.5168 27.3697L21.8245 19.5745H21.9109C24.7608 18.894 27.7341 18.7332 30.5346 19.092L30.6827 19.1167L28.8814 24.5362C28.7951 24.7837 28.7951 25.0311 28.8814 25.1796V25.2291C28.9061 25.3281 29.2886 26.1076 30.9047 29.3494L30.9417 29.4113L29.0541 32.2447C28.9678 32.418 28.8938 32.5788 28.8938 32.8263V36.1176C28.573 36.8352 28.4373 37.6395 28.5236 38.2705C28.5977 38.8644 28.9184 39.2975 29.4613 39.5697C30.1522 40.1513 32.0768 43.3559 33.5819 46.1028C33.6929 46.3379 33.915 46.5111 34.1741 46.5854C34.4332 46.6596 34.6923 46.6349 34.8897 46.5111L35.963 45.9791L36.8266 51.3491V51.3738C36.7402 51.745 36.5675 52.673 36.3825 53.6629C36.148 54.9249 35.9136 56.2365 35.8149 56.6572C35.7162 56.9294 35.6299 57.1769 35.7162 57.412C35.7656 57.5728 35.889 57.7337 35.9877 57.8698C36.0617 57.9688 36.1234 58.043 36.1604 58.1296C36.7032 58.7359 38.2824 60.2826 39.4297 61.4209C39.8739 61.854 40.2563 62.2252 40.4784 62.4603C40.8239 62.9923 41.0336 63.3388 41.1693 63.5615C41.2927 63.7718 41.3667 63.9079 41.4037 63.945C41.5518 64.143 41.6998 64.341 41.8355 64.5513C41.9712 64.7617 42.1069 64.972 42.255 65.1576L42.329 65.2566L42.218 65.3308V65.3185ZM44.1672 63.8337L44.0685 63.9203L43.9945 63.8089C43.501 63.1284 42.7855 62.0272 42.329 61.2229C42.2796 61.1611 42.2426 61.1116 42.2303 61.0621C42.2056 61.0249 42.1933 60.9878 42.1563 60.9507C41.7368 60.53 41.231 60.0475 40.7252 59.5402C39.6642 58.4884 38.5538 57.412 37.9986 56.7809L37.9493 56.7314L37.974 56.6696C38.2454 55.4446 38.8005 52.5988 38.9856 51.4109V51.0521L37.7889 44.1355C37.7395 43.8137 37.5545 43.5415 37.2707 43.3931C36.9623 43.2322 36.6169 43.2322 36.2961 43.3931L34.902 44.086L34.8403 43.987C34.5689 43.4797 34.2358 42.9352 33.9273 42.4156C33.6066 41.8959 33.2735 41.3515 32.9897 40.8318C31.8794 39.0005 31.1515 38.0478 30.6456 37.7385L30.584 37.7014V37.6271C30.584 37.4044 30.6827 37.1446 30.769 36.9095C30.806 36.8229 30.843 36.7362 30.8677 36.662C30.9541 36.4888 30.9541 36.4269 30.9541 36.2413V33.0614L33.0884 29.8691C33.1871 29.6959 33.3845 29.2009 33.1748 28.7926L31.0281 24.5857L32.8417 19.2405L32.9404 19.2652C44.7964 21.9131 53.0747 32.2447 53.0747 44.3829C53.0747 51.9059 49.83 58.9957 44.1672 63.8337Z' /%3E%3Cpath d='M50.558 37.3918L49.6327 34.6078C49.46 34.0634 49.0035 33.8654 48.6457 33.8654H46.2893L44.7718 32.3435C44.5744 32.1455 44.3153 32.0342 44.0686 32.0342C43.9206 32.0342 43.7602 32.0837 43.6491 32.1703L39.9356 34.0386C39.6642 34.15 39.4915 34.3604 39.4175 34.6326C39.3188 34.9543 39.3928 35.3131 39.6025 35.6101L42.0083 38.7529C42.218 38.9632 42.218 39.2725 42.218 39.5695L41.3791 43.034C41.2187 43.5166 41.5395 44.0981 42.033 44.2713L44.8088 45.1993C45.216 45.3602 45.5367 45.2117 45.8945 44.9395L48.658 42.1679C48.658 42.1679 48.7938 42.0194 48.7938 41.9823L48.8184 41.9204L50.6443 38.2456C50.6443 37.8991 50.6443 37.6393 50.558 37.3918ZM46.8938 40.7697L44.7101 42.9598L43.4147 42.5267L44.0933 40.0026C44.34 39.1859 44.1426 38.1961 43.5628 37.4289L41.8973 35.2636L43.8712 34.3356L45.2283 35.6843C45.3887 35.8575 45.7218 36.0184 45.9685 36.0184H47.9918L48.5964 37.7383L46.8938 40.7697Z' /%3E%3Cpath d='M54.2343 19.8221C54.259 19.7231 54.6908 18.4981 55.6901 17.0628C56.6771 15.6275 58.2316 13.9819 60.5016 13.0663C61.686 12.5837 62.9444 12.3486 64.2645 12.3486C66.5222 12.3486 68.9773 13.0292 71.6174 14.3902C71.9382 14.5634 72.0863 14.9346 71.9506 15.2811C71.8642 15.5162 69.6312 21.2698 64.5359 22.8783C61.5009 23.831 58.0959 23.0763 54.5057 20.6263C54.2343 20.4531 54.1233 20.119 54.2343 19.8221ZM56.2823 19.2282C61.1431 17.6073 64.9183 16.803 64.9554 16.7906C65.3378 16.7164 65.7079 16.9515 65.7943 17.3351C65.8683 17.7186 65.6216 18.0898 65.2514 18.1764C65.1034 18.2012 61.6983 18.9436 57.2693 20.3913L56.9855 20.4779L57.2569 20.614C58.8978 21.443 60.4523 21.8637 61.9204 21.8637C62.673 21.8637 63.4009 21.7523 64.1041 21.5296C65.8313 20.9852 67.2131 19.8221 68.2494 18.6343C69.2734 17.434 69.9643 16.1967 70.322 15.4667L70.3837 15.3553L70.2604 15.3058C66.7442 13.6355 63.6476 13.3261 61.0445 14.3655C58.5153 15.3925 56.9732 17.4835 56.1342 19.0549L55.9862 19.3272L56.2823 19.2282Z' /%3E%3Cpath d='M47.3255 0.371198C47.4612 0.136106 47.6956 0 47.9547 0C48.041 0 48.1274 0.0123733 48.2138 0.049493C48.4605 0.136106 54.1726 2.43753 55.7395 7.53532C56.6771 10.6039 55.8999 13.9818 53.4324 17.5824C53.2597 17.8422 52.9266 17.9536 52.6182 17.8546C52.4208 17.7804 47.7326 16.0852 45.9314 11.5195C44.673 8.32721 45.1418 4.57811 47.3255 0.371198ZM47.2391 10.9751C48.3001 13.6725 50.6195 15.2562 51.9026 15.9615L52.1123 16.0729L52.0877 15.8378C51.8533 13.7714 51.187 9.92336 49.3981 7.30022C49.1761 6.97852 49.2624 6.53308 49.5832 6.32274C49.7436 6.21138 49.9286 6.17426 50.1137 6.21138C50.2988 6.2485 50.4591 6.34748 50.5578 6.50834C52.211 8.9335 52.9759 12.2 53.3337 14.5138L53.3954 14.9098L53.5681 14.551C54.7278 12.1753 54.9992 9.9481 54.3947 7.95601C53.8642 6.21138 52.7169 4.82557 51.5325 3.78622C50.3481 2.74686 49.1267 2.05396 48.3988 1.68276L48.2755 1.6209L48.2261 1.74463C46.5482 5.25864 46.2151 8.36432 47.2391 10.9751Z' /%3E%3Cpath d='M60.5511 3.48939C62.0068 2.38817 63.8204 1.84375 65.9671 1.84375C66.9787 1.84375 68.0644 1.95511 69.2241 2.20257C69.5696 2.28919 69.8163 2.61089 69.7793 2.96972C69.7546 3.18006 69.2241 7.98089 65.708 10.2452C64.5483 10.9876 63.1912 11.3588 61.6737 11.3588C60.44 11.3588 59.0953 11.1113 57.6518 10.6164C57.3557 10.5174 57.1583 10.2204 57.183 9.89874C57.183 9.73789 57.4667 5.84031 60.5511 3.48939ZM59.1323 8.46344C61.3406 6.89204 64.1288 5.58047 64.4373 5.44437C64.7951 5.27114 65.2145 5.432 65.3749 5.77845C65.5353 6.13727 65.3872 6.55796 65.0295 6.71881C64.9061 6.78068 62.1672 8.05513 60.0205 9.56466L59.7738 9.73789L60.0699 9.78738C60.6374 9.88637 61.1679 9.93586 61.6861 9.93586C62.9321 9.93586 64.0178 9.6389 64.9431 9.05736C67.1021 7.67156 67.941 5.03605 68.2371 3.58838L68.2741 3.46465L68.1384 3.4399C65.3256 2.96972 63.0678 3.36566 61.4147 4.61536C59.9959 5.69183 59.2803 7.22612 58.9349 8.32734L58.8238 8.68616L59.1323 8.46344Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_4020'%3E%3Crect width='72' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.icon4 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 72' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.9042 69.801H61.3186V58.105H70.9042C71.3016 58.105 71.6508 57.8996 71.8434 57.5493C72.0241 57.223 72.0241 56.8364 71.8314 56.5343L66.1475 47.5086H69.4471C69.8445 47.5086 70.1937 47.3032 70.3864 46.9528C70.567 46.6266 70.567 46.24 70.3743 45.9379L65.3527 36.9122H66.5329C66.87 36.9122 67.1952 36.731 67.3758 36.4289C67.5685 36.1027 67.5926 35.7281 67.436 35.414L63.4982 26.3158H66.5329C66.87 26.3158 67.1952 26.1346 67.3758 25.8204C67.5685 25.5063 67.5926 25.1317 67.436 24.8176L56.863 0.555798C56.7667 0.289982 56.574 0 55.9719 0C55.5865 0 55.2494 0.217486 55.0687 0.579963L44.3994 24.9263C44.1465 25.3009 44.2308 25.5667 44.291 25.6996C44.4476 26.0017 44.7968 26.195 45.1701 26.195H48.2168L44.1465 35.4019C43.99 35.7281 44.014 36.1027 44.2067 36.4168C44.3994 36.731 44.7125 36.9122 45.0497 36.9122H46.2418L41.0998 46.0346C40.8951 46.3608 40.8951 46.7474 41.0758 47.0737C41.2684 47.4241 41.6177 47.6295 42.015 47.6295H45.3146L39.6307 56.6551C39.438 56.9572 39.438 57.3438 39.6187 57.6822C39.8113 58.0205 40.1606 58.238 40.558 58.238H50.1435V69.801H21.989V58.105H31.5745C31.9599 58.105 32.3211 57.8996 32.5138 57.5493C32.6944 57.223 32.6944 56.8364 32.5018 56.5343L26.8058 47.5086H30.1174C30.5028 47.5086 30.864 47.3032 31.0447 46.9528C31.2373 46.6266 31.2373 46.24 31.0447 45.9379L26.011 36.9122H27.2032C27.5404 36.9122 27.8535 36.731 28.0462 36.4289C28.2388 36.1027 28.2629 35.7281 28.1064 35.414L24.1565 26.3158H27.2032C27.5404 26.3158 27.8535 26.1346 28.0462 25.8204C28.2388 25.5063 28.2629 25.1317 28.1064 24.8176L17.5334 0.555798C17.425 0.289982 17.2323 0 16.6422 0C16.2569 0 15.9197 0.217486 15.7391 0.579963L4.98545 25.0472C4.75665 25.313 4.79277 25.5546 4.86503 25.7117C4.97341 25.9533 5.27446 26.195 5.70798 26.195H8.75464L4.69644 35.4019C4.52785 35.7281 4.55193 36.1027 4.74461 36.4289C4.93728 36.731 5.25038 36.9122 5.58756 36.9122H6.77973L1.63773 46.0346C1.43302 46.3608 1.43302 46.7474 1.61365 47.0737C1.80632 47.4241 2.15554 47.6295 2.55294 47.6295H5.85248L0.16859 56.6551C-0.0240843 56.9572 -0.0240843 57.3438 0.16859 57.6822C0.361264 58.0205 0.710487 58.238 1.10788 58.238H10.6934V69.801H1.09584C0.517812 69.801 0 70.3084 0 70.9005C0 71.4925 0.517812 72 1.09584 72H70.9042C71.4942 72 72 71.4804 72 70.9005C72 70.3205 71.4942 69.801 70.9042 69.801ZM3.143 56.0268L8.70647 47.0133C8.8871 46.6991 8.89915 46.3246 8.70647 45.9862C8.5138 45.6358 8.16458 45.4304 7.77923 45.4304H4.39538L9.53738 36.3081C9.7421 35.9819 9.7421 35.6073 9.56146 35.269C9.36879 34.9186 9.01957 34.7132 8.62218 34.7132H7.27346L11.3437 25.5063C11.5003 25.168 11.4882 24.7934 11.2835 24.4793C11.1029 24.1772 10.7898 23.996 10.4405 23.996H7.40592L16.3894 3.29854L25.3848 23.996H22.3382C21.989 23.996 21.6879 24.153 21.4952 24.443C21.3026 24.7451 21.2785 25.1317 21.4471 25.5063L25.5173 34.7132H24.1686C23.7592 34.7132 23.422 34.8944 23.2293 35.2207C23.0366 35.5469 23.0487 35.9456 23.2534 36.3081L28.3954 45.4304H25.0115C24.6262 45.4304 24.2649 45.6358 24.0723 45.9862C23.8916 46.3246 23.8916 46.6991 24.0843 47.0133L29.7802 56.0268H3.143ZM19.9177 69.801H12.8731V58.105H19.9177V69.801ZM42.6051 56.0268L48.1565 47.0133C48.3492 46.6991 48.3492 46.3246 48.1686 45.9862C47.9759 45.6358 47.6267 45.4304 47.2293 45.4304H43.8575L48.9995 36.3081C49.2042 35.9819 49.2042 35.6073 49.0236 35.269C48.8309 34.9186 48.4817 34.7132 48.0843 34.7132H46.7356L50.7938 25.5063C50.9624 25.168 50.9383 24.7934 50.7456 24.4793C50.5529 24.1772 50.2398 23.996 49.9027 23.996H46.856L55.8515 3.29854L64.847 23.996H61.8003C61.4511 23.996 61.138 24.153 60.9573 24.443C60.7647 24.7451 60.7406 25.1317 60.9092 25.5063L64.9674 34.7132H63.6187C63.2213 34.7132 62.8721 34.8944 62.6914 35.2207C62.4987 35.5469 62.5108 35.9456 62.7035 36.3081L67.8455 45.4304H64.4737C64.0763 45.4304 63.727 45.6358 63.5344 45.9862C63.3537 46.3246 63.3537 46.6991 63.5344 47.0133L69.2183 56.0268H42.5931H42.6051ZM59.2474 69.801H52.2147V58.105H59.2474V69.801Z' /%3E%3C/svg%3E%0A");
}
.work .list ul li.icon5 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 59' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_4062)'%3E%3Cpath d='M59.348 27.1819C66.4485 26.6719 72 20.7208 72 13.625C72 6.1097 65.8266 0 58.2399 0C50.6533 0 44.4912 6.1097 44.4912 13.625C44.4912 20.7208 50.054 26.6719 57.1545 27.1819H57.3807V56.8236H38.544V53.7291H43.5415C44.1294 53.7291 44.6269 53.2304 44.6269 52.6409V44.8876C44.6269 44.3095 44.1181 43.7994 43.5415 43.7994H38.544V39.3673H42.8178C43.3945 39.3673 43.9033 38.8573 43.9033 38.2792C43.9033 37.7011 43.4058 37.2023 42.8178 37.2023H38.544V31.5233H42.8178C43.3945 31.5233 43.9033 31.0133 43.9033 30.4352C43.9033 29.8571 43.3945 29.347 42.8178 29.347H38.544V25.5723C38.544 24.9942 38.0352 24.4955 37.4698 24.4955C36.9045 24.4955 36.3844 24.9942 36.3844 25.5723V29.7664H14.5402V25.5723C14.5402 24.9829 14.0427 24.4955 13.4548 24.4955C12.8668 24.4955 12.4824 25.0509 12.4824 25.5723V29.7664H8.19724C7.6206 29.7664 7.12312 30.2765 7.12312 30.8546C7.12312 31.4327 7.63191 31.9427 8.19724 31.9427H12.4824V37.6217H8.19724C7.6206 37.6217 7.12312 38.1318 7.12312 38.7099C7.12312 39.288 7.63191 39.7981 8.19724 39.7981H12.4824V44.2302H7.48492C6.90829 44.2302 6.3995 44.7402 6.3995 45.3183V53.0603C6.3995 53.6384 6.90829 54.1485 7.48492 54.1485H12.4824V56.8236H1.08543C0.508794 56.8236 0 57.3337 0 57.9118C0 58.4899 0.508794 59 1.08543 59H67.1269C67.7035 59 68.2123 58.4899 68.201 57.8891C68.1219 57.3451 67.6018 56.8236 67.1269 56.8236H59.0992V27.1933H59.3367L59.348 27.1819ZM14.5402 37.5084V31.8294H36.4749V37.5084H14.5402ZM14.5402 44.0148V39.5827H36.4749V44.0148H14.5402ZM58.3191 11.7547C57.8555 11.7547 57.4711 12.1514 57.4711 12.6048V17.2296L52.4058 13.0469C52.0892 12.8088 51.5578 12.7975 51.2186 13.1942C51.0829 13.3529 51.0151 13.5683 51.0377 13.7837C51.0603 14.0104 51.1734 14.2144 51.3656 14.3731L57.5616 19.474V25.765L57.2789 25.731C50.9812 24.9376 46.2211 19.7347 46.2211 13.6363C46.2211 7.01652 51.6595 1.63228 58.3304 1.63228C65.0013 1.63228 70.451 7.01652 70.451 13.6363C70.451 19.8027 65.6344 25.0396 59.4837 25.5723L59.201 25.595V12.6275C59.201 12.1627 58.8053 11.7773 58.3304 11.7773L58.3191 11.7547ZM36.4749 53.7291V56.8236H14.5402V53.7291H36.4749ZM8.55905 51.6661V45.9871H42.5578V51.6661H8.55905Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_4062'%3E%3Crect width='72' height='59' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.icon6 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 71' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.3146 37.9126C68.2618 37.211 72 32.9889 72 28.0898V10.1675C72 4.62829 67.4229 0.110784 61.7971 0.110784C56.1714 0.110784 51.6066 4.62829 51.6066 10.1675V28.0898C51.6066 33.0504 55.3324 37.3341 60.292 38.0234L60.6868 38.085V68.8089H37.2337V37.9619L37.6285 37.9126C42.5881 37.211 46.3139 32.9397 46.3139 27.9667V10.0444C46.3139 4.5052 41.7368 0 36.1234 0C30.5099 0 25.9205 4.40673 25.9205 10.0444V27.9667C25.9205 32.9397 29.6587 37.211 34.6059 37.9126L35.013 37.9619V68.8089H11.4243V37.9619L11.8314 37.9126C16.7786 37.211 20.5168 32.9397 20.5168 27.9667V10.0444C20.5168 4.5052 15.9397 0 10.3139 0C4.68814 0 0.123372 4.40673 0.123372 10.0444V27.9667C0.123372 32.9397 3.86155 37.211 8.80877 37.9126L9.20356 37.9619V68.8089H1.11035C0.518163 68.8089 0 69.3259 0 69.9045C0 70.483 0.518163 71 1.11035 71H70.7663C71.3585 71 71.8766 70.483 71.8766 69.9045C71.8766 69.3259 71.3585 68.8089 70.7663 68.8089H62.9075V37.9619L63.3146 37.9126ZM10.4373 16.6052C9.89445 16.6052 9.32694 16.9622 9.32694 17.5777V29.0622L6.42769 27.1543C6.18095 26.9943 5.87252 26.945 5.57642 27.0066C5.34202 27.0681 5.13228 27.2035 5.02125 27.3759C4.84853 27.6344 4.78684 27.9298 4.86086 28.2129C4.91021 28.4591 5.04592 28.6683 5.23098 28.7668L9.32694 31.4256V35.8077L8.7841 35.7093C5.10761 35.0692 2.34407 31.7826 2.34407 28.0898V10.1675C2.34407 5.76075 5.97121 2.17874 10.4373 2.17874C14.9034 2.17874 18.5305 5.76075 18.5305 10.1675V28.0898C18.5305 31.7826 15.8286 35.0446 12.1151 35.8324L11.5476 35.9431V24.1385L15.6436 21.492C15.878 21.332 16.026 21.0981 16.0754 20.8273C16.1124 20.5688 16.0507 20.3226 15.8903 20.138C15.7176 19.8672 15.4709 19.7195 15.1995 19.6702C14.928 19.6333 14.669 19.6949 14.4839 19.8426L11.5476 21.7751V17.6885C11.5476 17.1099 11.0295 16.6052 10.4373 16.6052ZM36.2467 16.6052C35.6546 16.6052 35.1241 17.1099 35.1241 17.6885V29.1853L32.2371 27.2774C31.9904 27.1174 31.6696 27.0681 31.3859 27.1297C31.1391 27.1789 30.9294 27.3143 30.8184 27.4867C30.6456 27.7451 30.5963 28.0529 30.658 28.336C30.7073 28.5699 30.8554 28.7791 31.0281 28.8899L35.1241 31.5364V35.9431L34.5689 35.8324C30.7937 35.0569 28.1412 31.8688 28.1412 28.0898V10.1675C28.1412 5.76075 31.7807 2.17874 36.2467 2.17874C40.7128 2.17874 44.34 5.76075 44.34 10.1675V28.0898C44.34 31.7826 41.6381 35.0446 37.9123 35.8324L37.3571 35.9431V24.1385L41.4407 21.492C41.6751 21.332 41.8355 21.0981 41.8725 20.8273C41.9095 20.5688 41.8478 20.3226 41.6998 20.138C41.5147 19.8672 41.2803 19.7195 40.9966 19.6702C40.7375 19.6333 40.4784 19.6949 40.281 19.8426L37.3571 21.7751V17.6885C37.3571 17.1099 36.8389 16.6052 36.2467 16.6052ZM61.7971 16.4821C61.2049 16.4821 60.6868 16.9991 60.6868 17.5777V29.0622L57.7875 27.1543C57.5408 26.9943 57.2324 26.945 56.9363 27.0066C56.6895 27.0681 56.4798 27.2035 56.3811 27.3759C56.2454 27.5974 56.2084 27.9667 56.2824 28.2868C56.3441 28.5083 56.4551 28.693 56.5908 28.7668L60.6868 31.4256V35.8077L60.1439 35.7093C56.5415 35.0569 53.8273 31.7826 53.8273 28.0898V10.1675C53.8273 5.76075 57.4544 2.17874 61.9205 2.17874C66.3866 2.17874 70.0137 5.76075 70.0137 10.1675V28.0898C70.0137 31.7826 67.3119 35.0446 63.586 35.8324L63.0308 35.9431V24.1385L67.1145 21.492C67.3612 21.332 67.5093 21.0981 67.5586 20.8273C67.5956 20.5688 67.5216 20.3226 67.3735 20.138C67.1885 19.8672 66.9541 19.7195 66.6827 19.6702C66.4112 19.6333 66.1522 19.6949 65.9671 19.8426L62.9075 21.6028V17.5777C62.9075 16.9991 62.3893 16.4821 61.7971 16.4821Z' /%3E%3C/svg%3E%0A");
}
.work .list ul li a span::after {
    content: "";
    position: absolute; /* span 기준 정렬 */
    right: 1.1364em;
    top: 0;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.6859em ;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 12' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.40513 11.3787L8.34449 10.2874L12.1878 6.44409H0V4.93464H12.1878L8.34449 1.09133L9.40513 0L15.0945 5.68937L9.40513 11.3787Z'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
.work .list ul li a:hover span::after {
    border-color: var(--color-main);
    background-color: var(--color-main);
}
@media screen and (max-width:1024px){
    .work .wrapper {
        display: block;
        padding-top: 117px;
        padding-bottom: 99px;
    }
    .work .tit h2 {
        font-size: 32px;
        margin: 0 0 26px 0;
    }
    .work .tit p br {
        display: none;
    }
    .work .list {
        width: auto;
        max-width: 100%;
        margin-top: 39px;
    }
    .work .list ul {
        gap: 16px 16px;
    }
    .work .list ul li {
        width: calc(33.33% - 10.66px)
        /*
        (100/1줄에 나타날 li 개수) - (1줄의 여백의 합/1줄에 나타날 li 개수)
        33.33% - (16+16)/3 = 33.33 - 10.66px
        */
    }
    /* li:nth-child(odd: 홀수, even: 짝수) */
    .work .list ul li:nth-child(odd) {
        transform: translateY(0);
    }
    .work .list ul li:nth-child(even) {
        transform: translateY(0);
    }
    .work .list ul li a {
        height: 153px;
        border-radius: 10px;
        padding: 100px 0 0 0;
        font-size: 18px;
        text-align: center;
    }
    .work .list ul li a span {
        display: inline-block;
        padding-right: 31px;
    }
    .work .list ul li a span::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 45px;
        width: 60px;
        height: 60px;
        background-position: center bottom;
        background-size: 50px;
    }
    .work .list ul li a span::after {
        right: 0;
        width: 21px;
        height: 21px;
        background-size: 9.22px;
    }
}/*media*/
@media screen and (max-width:768px){
    .work .tit h2 {
        font-size: 28px;
    }
    .work .list ul li {
        width: calc(50% - 8px)
    }
}/*media*/

.news .wrapper {
    position: relative; /* more 기준 정렬 */
    margin-top: 117px;
    margin-bottom: 78px;
}
.news .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin: 0 0 16px 0;
}
.news .tit span {
    color: var(--color-main);
}
.news .list .swiper {
    padding-top: 72px; /* 마우스 오버 시 li가 상단으로 이동 */
}
.news .list .swiper-slide {
    width: 297px;
}
.news .list .swiper-slide a {
    display: block;
    border-top: 1px solid var(--color-txt-title);
    height: 362px;
    position: relative; /* over 정렬 기준 */
    transition: transform 0.5s
}
.news .list .swiper-slide:hover a {
    transform: translateY(-20px);
}
.news .list .swiper-slide a .cate {
    display: inline-block;
    padding: 8px 9px;
    background-color: var(--color-main);
    color: var(--color-white);
}
.news .list .swiper-slide a h3 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin: 26px 0;
    /* 2줄 제한 */
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
}
.news .list .swiper-slide a .name {
    display: flex;
    gap: 0 22px;
}
.news .list .swiper-slide a .name span {
    position: relative; /* after 기준 정렬 */
}
.news .list .swiper-slide a .name span::after {
    content: "";
    position: absolute;
    right: -11px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: #ccc;
}
.news .list .swiper-slide a .name span:last-child::after {
    display: none;
}
.news .list .swiper-slide a .photo {
    margin: 26px 0 0 0;
    overflow: hidden;
    height: 148px;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .list .swiper-slide a .over {
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: calc(100% + 1px);
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 34px 15px 0 15px;
}
.news .list .swiper-slide:hover a .over {
    display: block;
}
.news .list .swiper-slide a .over::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 17px;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 27' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5917 26.8542L3.25 5.53313V24.9167H0V0H24.9167V3.25H5.53313L26.8542 24.5917L24.5917 26.8542Z' /%3E%3C/svg%3E%0A");
}
.news .list .swiper-slide a .over strong {
    display: block;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin: 0 0 16px 0;
}
.news .list .swiper-slide a .over span {
    display: block;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
}
.news .more {
    position: absolute;
    right: 0;
    top: 0;
}
.news .more a {
    display: block;
    border: 1px solid var(--color-txt-title);
    border-radius: 1.7647em;
    color: var(--color-txt-title);
    padding: 0.7059em 3.7647em 0.6471em 0.9412em;
    position: relative;
    transition: 0.3s;
}
.news .more a::after {
    content: "";
    position: absolute;
    right: 1.2171em;
    top: 1.1394em;
    width: 0.4118em;
    height: 0.7059em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 12' fill='%2330424B' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.827896 11.2627L0 10.4348L4.80346 5.63135L0 0.827896L0.827896 0L6.45925 5.63135L0.827896 11.2627Z' /%3E%3C/svg%3E%0A");
}
.news .more a:hover {
    border-color: var(--color-main);
    color: var(--color-main);
}
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 12' fill='%2300A642' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.827896 11.2627L0 10.4348L4.80346 5.63135L0 0.827896L0.827896 0L6.45925 5.63135L0.827896 11.2627Z' /%3E%3C/svg%3E%0A");
}
 @media screen and (max-width:1024px){
    .news .tit h2 {
        font-size: 32px;
        padding-right: 66px;
    }
    .news .list .swiper {
        padding-top: 39px;
    }
    .news .list .swiper-slide a {
        height: 324px;
    }
    .news .list .swiper-slide a h3 {
        font-size: 20px;
        margin: 14px 0 14px 0;
    }
    .news .list .swiper-slide a .name {
        gap: 0 14px;
    }
    .news .list .swiper-slide a .name span::after {
        right: -8px;
    }
    .news .more {
        top: 21px;
    }
    .news .more a {
        padding: 0;
        width: 36px;
        height: 36px;
    }
    .news .more a::after {
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 0.4118em;
    }
    .news .more a span {
        display: none;
    }
 }/*media*/
 @media screen and (max-width:768px){
    .news .tit h2 {
        font-size: 28px;
    }
 }/*media*/

aside.quick {
    position: fixed;
    right: 30px;
    top: 55%;
    z-index: 99;
    transform: translateY(-50%);
}
aside.quick .quick_open,
aside.quick .quick_close {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-main);
    position: relative;
}
aside.quick .quick_close {
    display: none;
}
aside.quick.open .quick_close {
    display: block;
}
aside.quick.open .quick_open {
    display: none;
}
aside.quick .quick_open::before,
aside.quick .quick_close::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
aside.quick .quick_open::before {
    background-size: 22.89px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4396 12.9524C11.2614 12.9524 11.0883 12.9292 10.9203 12.8826C10.7522 12.8361 10.5852 12.7703 10.4195 12.6851L0.557646 7.44061C0.359278 7.32743 0.216795 7.18797 0.130198 7.02223C0.0433995 6.85648 0 6.67453 0 6.47636C0 6.27799 0.0433995 6.09594 0.130198 5.9302C0.216795 5.76445 0.359278 5.62499 0.557646 5.51181L10.4195 0.267343C10.5852 0.182155 10.7522 0.116302 10.9203 0.0697812C11.0883 0.0232603 11.2614 0 11.4396 0C11.6178 0 11.7909 0.0232603 11.9589 0.0697812C12.127 0.116302 12.294 0.182155 12.4597 0.267343L22.333 5.51181C22.5314 5.62499 22.674 5.76445 22.7608 5.9302C22.8476 6.09594 22.891 6.27799 22.891 6.47636C22.891 6.67453 22.8476 6.85648 22.7608 7.02223C22.674 7.18797 22.5314 7.32743 22.333 7.44061L12.4597 12.6851C12.294 12.7703 12.127 12.8361 11.9589 12.8826C11.7909 12.9292 11.6178 12.9524 11.4396 12.9524ZM11.4396 15.892L21.1108 10.7729C21.1589 10.7449 21.3232 10.7178 21.6035 10.6916C21.8452 10.7069 22.043 10.7976 22.1971 10.9635C22.3513 11.1293 22.4285 11.333 22.4285 11.5746C22.4285 11.7418 22.3916 11.8927 22.3179 12.0274C22.2444 12.1624 22.124 12.2748 21.9566 12.3646L12.4597 17.4024C12.294 17.4876 12.127 17.5535 11.9589 17.6C11.7909 17.6463 11.6178 17.6695 11.4396 17.6695C11.2614 17.6695 11.0883 17.6463 10.9203 17.6C10.7522 17.5535 10.5852 17.4876 10.4195 17.4024L0.934042 12.3646C0.766687 12.2748 0.644344 12.1624 0.567011 12.0274C0.489476 11.8927 0.450708 11.7418 0.450708 11.5746C0.450708 11.333 0.529754 11.1293 0.687844 10.9635C0.845733 10.7976 1.04551 10.7069 1.28718 10.6916C1.37236 10.6761 1.45453 10.6757 1.53368 10.6904C1.61262 10.7051 1.69469 10.7326 1.77987 10.7729L11.4396 15.892ZM11.4396 20.609L21.1108 15.4899C21.1589 15.4621 21.3232 15.435 21.6035 15.4087C21.8452 15.4242 22.043 15.5148 22.1971 15.6805C22.3513 15.8463 22.4285 16.05 22.4285 16.2917C22.4285 16.459 22.3916 16.6101 22.3179 16.7448C22.2444 16.8795 22.124 16.9918 21.9566 17.0816L12.4597 22.1194C12.294 22.2046 12.127 22.2705 11.9589 22.317C11.7909 22.3635 11.6178 22.3868 11.4396 22.3868C11.2614 22.3868 11.0883 22.3635 10.9203 22.317C10.7522 22.2705 10.5852 22.2046 10.4195 22.1194L0.934042 17.0816C0.766687 16.9918 0.644344 16.8795 0.567011 16.7448C0.489476 16.6101 0.450708 16.459 0.450708 16.2917C0.450708 16.05 0.529754 15.8463 0.687844 15.6805C0.845733 15.5148 1.04551 15.4242 1.28718 15.4087C1.37236 15.3932 1.45453 15.3928 1.53368 15.4075C1.61262 15.4222 1.69469 15.4496 1.77987 15.4899L11.4396 20.609Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_close::before {
    background-size: 15.33px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.66597 8.93925L1.53609 15.0694C1.36874 15.2366 1.15839 15.3222 0.905042 15.3262C0.651896 15.33 0.437719 15.2444 0.26251 15.0694C0.0875035 14.8942 0 14.682 0 14.4326C0 14.1833 0.0875035 13.9711 0.26251 13.7958L6.39269 7.66597L0.26251 1.53609C0.0953577 1.36874 0.00976743 1.15839 0.00573966 0.905042C0.00191327 0.651896 0.0875035 0.437719 0.26251 0.26251C0.437719 0.0875035 0.649983 0 0.899302 0C1.14862 0 1.36089 0.0875035 1.53609 0.26251L7.66597 6.39269L13.7958 0.26251C13.9632 0.0953577 14.1735 0.00976743 14.4269 0.00573966C14.68 0.00191327 14.8942 0.0875035 15.0694 0.26251C15.2444 0.437719 15.3319 0.649983 15.3319 0.899303C15.3319 1.14862 15.2444 1.36089 15.0694 1.53609L8.93925 7.66597L15.0694 13.7958C15.2366 13.9632 15.3222 14.1735 15.3262 14.4269C15.33 14.68 15.2444 14.8942 15.0694 15.0694C14.8942 15.2444 14.682 15.3319 14.4326 15.3319C14.1833 15.3319 13.9711 15.2444 13.7958 15.0694L7.66597 8.93925Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    width: 100%;
}
aside.quick .quick_wrap ul {
    background-color: var(--color-white);
    border: 2px solid var(--color-main);
    border-radius: 30px;
    color: var(--color-main);
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
    width: 55px;
}
aside.quick .quick_wrap ul li a,
aside.quick .quick_wrap ul li button {
    display: block;
    width: 100%;
    height: 58px;
    padding: 33px 0 9px 0;
    position: relative;
}
aside.quick .quick_wrap ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 100%;
    height: 49px;
    background-position: center center;
    background-repeat: no-repeat;
}
aside.quick .quick_wrap ul li.kakao a::before {
    background-size: 15.83px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 14' fill='%2300A642' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.90875 13.7996C7.73028 13.7996 7.55104 13.7676 7.37104 13.7035C7.19104 13.6394 7.03264 13.539 6.89583 13.4023L5.69875 12.3142C4.22125 10.9669 2.90208 9.64347 1.74125 8.34375C0.580417 7.04403 0 5.65167 0 4.16667C0 2.98403 0.39875 1.99389 1.19625 1.19625C1.99389 0.39875 2.98403 0 4.16667 0C4.83861 0 5.50236 0.154931 6.15792 0.464792C6.81333 0.774653 7.39958 1.27785 7.91667 1.97438C8.43375 1.27785 9.02 0.774653 9.67542 0.464792C10.331 0.154931 10.9947 0 11.6667 0C12.8493 0 13.8394 0.39875 14.6371 1.19625C15.4346 1.99389 15.8333 2.98403 15.8333 4.16667C15.8333 5.66778 15.2431 7.07563 14.0625 8.39021C12.8819 9.70479 11.5657 11.017 10.1138 12.3269L8.92937 13.4023C8.79271 13.539 8.63306 13.6394 8.45042 13.7035C8.26764 13.7676 8.08708 13.7996 7.90875 13.7996ZM7.31729 3.24042C6.86646 2.55347 6.39181 2.05 5.89333 1.73C5.395 1.41 4.81944 1.25 4.16667 1.25C3.33333 1.25 2.63889 1.52778 2.08333 2.08333C1.52778 2.63889 1.25 3.33333 1.25 4.16667C1.25 4.83542 1.46556 5.53465 1.89667 6.26437C2.32778 6.9941 2.86889 7.71951 3.52 8.44062C4.17111 9.16187 4.87653 9.86646 5.63625 10.5544C6.39583 11.2424 7.09986 11.8819 7.74833 12.4727C7.79639 12.5155 7.8525 12.5369 7.91667 12.5369C7.98083 12.5369 8.03694 12.5155 8.085 12.4727C8.73347 11.8819 9.4375 11.2424 10.1971 10.5544C10.9568 9.86646 11.6622 9.16187 12.3133 8.44062C12.9644 7.71951 13.5056 6.9941 13.9367 6.26437C14.3678 5.53465 14.5833 4.83542 14.5833 4.16667C14.5833 3.33333 14.3056 2.63889 13.75 2.08333C13.1944 1.52778 12.5 1.25 11.6667 1.25C11.0139 1.25 10.4383 1.41 9.94 1.73C9.44153 2.05 8.96687 2.55347 8.51604 3.24042C8.44549 3.34722 8.35681 3.42736 8.25 3.48083C8.14319 3.53417 8.03208 3.56083 7.91667 3.56083C7.80125 3.56083 7.69014 3.53417 7.58333 3.48083C7.47653 3.42736 7.38785 3.34722 7.31729 3.24042Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li.naver a::before {
    background-size: 15.52px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.693927 7.16415C0.206597 2.98971 3.90984 -0.259763 6.83212 0.881715C9.75439 2.02319 8.83561 3.91606 10.4119 6.11849C11.8233 8.09062 15.0097 7.32376 15.8897 10.2258C16.7696 13.1278 15.6713 16.1336 11.04 16.0537C6.2881 15.9716 1.30309 12.3822 0.693927 7.16415Z' stroke='%2300A642' stroke-width='1.3'/%3E%3Cpath d='M7.95342 6.01367C7.91322 7.97267 8.82561 8.88068 10.6908 8.7377' stroke='%2300A642' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li.green a::before {
    background-size: 13.35px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%2300A642' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.87188 11.4433C1.28424 10.8531 0.825347 10.1743 0.495208 9.40709C0.16507 8.63987 0 7.84668 0 7.02751C0 6.20598 0.157361 5.39084 0.472083 4.58209C0.786667 3.77334 1.29493 3.018 1.99688 2.31605C2.88896 1.42397 4.15153 0.80133 5.78458 0.448136C7.4175 0.0950803 9.27139 -0.0493639 11.3463 0.0148028C11.6325 0.0339694 11.8937 0.0969557 12.1298 0.203761C12.3659 0.310706 12.5726 0.452788 12.75 0.63001C12.9274 0.807372 13.0654 1.01362 13.1642 1.24876C13.2631 1.48376 13.3194 1.73904 13.3333 2.01459C13.3611 3.0039 13.3406 3.96383 13.2717 4.89439C13.2028 5.82494 13.0783 6.6898 12.8981 7.48897C12.7181 8.28814 12.4772 9.01383 12.1754 9.66605C11.8736 10.3183 11.4967 10.8704 11.0448 11.3223C10.3567 12.0158 9.6209 12.522 8.83729 12.8408C8.05368 13.1597 7.26 13.3192 6.45625 13.3192C5.61361 13.3192 4.78576 13.1541 3.97271 12.824C3.15965 12.4938 2.45938 12.0336 1.87188 11.4433ZM3.74042 11.3063C4.15917 11.5692 4.60174 11.762 5.06812 11.8848C5.53451 12.0077 5.99792 12.0692 6.45833 12.0692C7.10083 12.0692 7.73632 11.942 8.36479 11.6877C8.9934 11.4334 9.58972 11.0189 10.1538 10.4442C10.4028 10.1942 10.6553 9.84348 10.9112 9.39209C11.1671 8.94071 11.3884 8.35043 11.5752 7.62126C11.762 6.89209 11.9038 6.01015 12.0006 4.97543C12.0974 3.94071 12.1165 2.70807 12.0577 1.27751C11.3772 1.24973 10.6071 1.24196 9.7475 1.25418C8.88806 1.26654 8.03069 1.33654 7.17542 1.46418C6.32028 1.59182 5.51208 1.79189 4.75083 2.06439C3.98958 2.33675 3.37389 2.708 2.90375 3.17814C2.28417 3.79786 1.85361 4.42529 1.61208 5.06043C1.37069 5.69557 1.25 6.29786 1.25 6.8673C1.25 7.65466 1.40361 8.36675 1.71083 9.00355C2.01792 9.64022 2.33757 10.1129 2.66979 10.4217C3.13562 9.37473 3.79028 8.37022 4.63375 7.40814C5.47722 6.44605 6.5459 5.60661 7.83979 4.8898C6.86104 5.74341 6.02285 6.68091 5.32521 7.7023C4.62757 8.72355 4.09931 9.92487 3.74042 11.3063Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li.top a::before {
    background-size: 15.41px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%2300A642' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.70833 1.7419L1.43104 8.01919C1.26549 8.18475 1.0684 8.26537 0.839792 8.26107C0.611181 8.25676 0.414027 8.17183 0.248333 8.00627C0.0827774 7.84072 0 7.64364 0 7.41502C0 7.18641 0.0827774 6.98926 0.248333 6.82357L6.64104 0.443776C6.79174 0.29322 6.96056 0.181623 7.1475 0.108984C7.33444 0.0362064 7.52139 -0.000182114 7.70833 -0.000182114C7.89528 -0.000182114 8.08222 0.0362064 8.26917 0.108984C8.45611 0.181623 8.62493 0.29322 8.77563 0.443776L15.1683 6.83648C15.3339 7.00204 15.4145 7.19697 15.4102 7.42128C15.4059 7.64572 15.321 7.84072 15.1554 8.00627C14.9899 8.17183 14.7928 8.25461 14.5642 8.25461C14.3356 8.25461 14.1384 8.17183 13.9727 8.00627L7.70833 1.7419Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 166, 66, 0.3);
}
aside.quick .quick_wrap ul li:last-child a::after {
    display: none;
}
@media screen and (max-width:1439px){
    aside.quick {
        right: 10px;
        top: auto;
        bottom: 5%;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}

#fp-nav.fp-left {
    left: 53px;
}
/*
    <li>
        <a></a> --- span을 덮는 용도
        <div class="fp-tooltip"></div>
    </li>
*/
#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 12px 0;

}
#fp-nav ul li:last-child {
    display: none;
}
#fp-nav ul li a {
    position: absolute;
    left: 0;
    top: 0;
}
#fp-nav ul li a span {
    display: none;
}
/* 라이브러리를 사용 할 때 라이브러리에서 준 기본스타일과 내가 직접 준 스타일과 충돌됐을 시
   내 스타일을 우선으로 주기 위해 
   1. !important 내 것을 무조건 우선순위 (무식한 방법)
   2. 선택자를 조정 - 선택자 맨 앞 body 붙여서 우선순위를 높임
                   - 선택자를 좀 더 디테일하게 선언 (.fp-left) */
body #fp-nav ul li .fp-tooltip { 
    position: relative;
    left: auto;
    top: auto;
    color: var(--color-white7);
    font-size: inherit;
    font-family: inherit;
    max-width: 100%;
    overflow: visible;
    opacity: 1;
    width: auto;
}
body #fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
}
body #fp-nav ul li .fp-tooltip::before { /* span 앞 동그라미 */
    content: "";
    position: absolute;
    left: -16px;
    top: 9px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid var(--color-white7);
}
/* a.active (선택 되었을 때)

    <li>
        <a class="active"></a>
        <div class="fp-tooltip"></div> *** a.active 클래스가 있는 밑에 있는 tootip을 선택하는 방법
    </li>
    <li>
        <a></a>
        <div class="fp-tooltip"></div>
    </li>
*/

body #fp-nav ul li a.active + .fp-tooltip {
    color: var(--color-white);
    display: inline-block;
}
body #fp-nav ul li a.active + .fp-tooltip::before {
    background-color: var(--color-white);
    border-color: var(--color-white);
}
body #fp-nav ul li a.active + .fp-tooltip::after {
    border: 1px solid var(--color-white);
    border-radius: 30px;
    content: "";
    position: absolute;
    left: -26px;
    top: -5px;
    width: 100%;
    height: 31px;
    padding: 1px 12px 1px 23px;
}
/***************** fp-nav에 class="dark" 추가 *****************/
body #fp-nav.dark ul li .fp-tooltip {
    color: #C6C6C6;
}
body #fp-nav.dark ul li .fp-tooltip::before  {
    border-color: #c6c6c6;
}
body #fp-nav.hide {
    display: none;
}
body #fp-nav.dark ul li a.active + .fp-tooltip {
    color: var(--color-txt-title);
}
body #fp-nav.dark ul li a.active + .fp-tooltip::before {
    background-color: var(--color-txt-title);
    border-color: var(--color-txt-title);
}
body #fp-nav.dark ul li a.active + .fp-tooltip::after {
    border-color: var(--color-txt-title);
}
@media screen and (max-width:1594px){
    #fp-nav {
        display: none !important;
    }
}/*media*/
.section .load_down {
    display: block;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s;
}
.section.active .load_down {
    transform: translateY(0);
    opacity: 1;
}
.section .load_up {
    transform: translateY(-30px);
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s;
}
.section.active .load_up {
    transform: translateY(0);
    opacity: 1;
}
.section .load_right {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s;
}

.section.active .load_right {
    transform: translateX(0);
    opacity: 1;
}

.section.active .load_delay0 {
    transition-delay: 0.3s;
}
.section.active .load_delay1 {
    transition-delay: 0.6s;
}
.section.active .load_delay2 {
    transition-delay: 0.8s;
}
.section.active .load_delay3 {
    transition-delay: 1s;
}
.section.active .load_delay4 {
    transition-delay: 1.2s;
}
.section.active .load_delay5 {
    transition-delay: 1.4s;
}