@import url(common.css);
@import url(default.css);
@import url(fonts.css);

section h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
@media screen and (max-width:768px) {
        section h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
        }
}

.notice {
    margin: 171px 0 0 0;
}
.notice .wrapper {
    position: relative; /* more 정렬 기준 */
}
.notice .tit strong {
    color: #004EA2;
}
.notice .tit h2 {
    margin: 13px 0 0 0;
    color: #1d1d1d;
}
.notice .list {
    margin: 46px 0 0 0;
}
.notice .list ul {
    display: flex;
    justify-content: space-between;
}
.notice .list ul li {
    width: 404px;
}
.notice .list ul li a {
    display: block;
}
.notice .list ul li a .photo {
    overflow: hidden;
    height: 250px;
}
.notice .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .list ul li a .txt h3 {
    margin: 14px 0 5px 0;
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
}
.notice .more {
    position: absolute; /* wrapper 기준 정렬 */
    right: 0;
    top: 76px;
}
.notice .more a {
    display: block;
    padding: 0 19px 0 0;
    color: #004EA2;
    position: relative; /* after 정렬 기준 */
}
.notice .more a::after {
    content: "";
    position: absolute; /* a 기준 정렬 */
    right: 3px;
    top: 6px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 5.125H0.75C0.572917 5.125 0.424479 5.0651 0.304688 4.94531C0.184896 4.82552 0.125 4.67708 0.125 4.5C0.125 4.32292 0.184896 4.17448 0.304688 4.05469C0.424479 3.9349 0.572917 3.875 0.75 3.875H3.875V0.75C3.875 0.572917 3.9349 0.424479 4.05469 0.304688C4.17448 0.184896 4.32292 0.125 4.5 0.125C4.67708 0.125 4.82552 0.184896 4.94531 0.304688C5.0651 0.424479 5.125 0.572917 5.125 0.75V3.875H8.25C8.42708 3.875 8.57552 3.9349 8.69531 4.05469C8.8151 4.17448 8.875 4.32292 8.875 4.5C8.875 4.67708 8.8151 4.82552 8.69531 4.94531C8.57552 5.0651 8.42708 5.125 8.25 5.125H5.125V8.25C5.125 8.42708 5.0651 8.57552 4.94531 8.69531C4.82552 8.8151 4.67708 8.875 4.5 8.875C4.32292 8.875 4.17448 8.8151 4.05469 8.69531C3.9349 8.57552 3.875 8.42708 3.875 8.25V5.125Z' fill='%23004EA2'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    .notice {
        margin: 97px 0 0 0;
    }
    .notice .wrapper {
        position: relative; /* more 정렬 기준 */
    }
    .notice .tit h2 {
        margin: 8px 0 0 0;
    }
    .notice .list ul {
        display: block; /* flex -> block */
    }
    .notice .list ul li {
        border-top: 1px solid #EDEDED;
        padding: 3px 0 11px 0;
    }
    .notice .list ul li:last-child {
        border-bottom: 1px solid #EDEDED;
    }
    .notice .list ul li a .photo {
        display: none;
    }
    .notice .list ul li a .txt h3 {
        font-size: 18px;
        font-weight: 400;
        color: #1d1d1d;
    }
    .notice .list ul li a .txt p {
        display: none;
    }
    .notice .more {
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
        margin: 30px 0 0 0;
        top: auto;
        text-align: center;
    }
    .notice .more a {
        display: inline-block;
        padding: 4px 38px 5px 22px;
        border: 1px solid #004EA2;
        border-radius: 20px;
        position: relative; /* after 정렬 기준 */
    }
    .notice .more a::after {
        content: "";
        position: absolute; /* a 기준 정렬 */
        right: 21px;
        top: 12px;
        width: 9px;
        height: 9px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 5.125H0.75C0.572917 5.125 0.424479 5.0651 0.304688 4.94531C0.184896 4.82552 0.125 4.67708 0.125 4.5C0.125 4.32292 0.184896 4.17448 0.304688 4.05469C0.424479 3.9349 0.572917 3.875 0.75 3.875H3.875V0.75C3.875 0.572917 3.9349 0.424479 4.05469 0.304688C4.17448 0.184896 4.32292 0.125 4.5 0.125C4.67708 0.125 4.82552 0.184896 4.94531 0.304688C5.0651 0.424479 5.125 0.572917 5.125 0.75V3.875H8.25C8.42708 3.875 8.57552 3.9349 8.69531 4.05469C8.8151 4.17448 8.875 4.32292 8.875 4.5C8.875 4.67708 8.8151 4.82552 8.69531 4.94531C8.57552 5.0651 8.42708 5.125 8.25 5.125H5.125V8.25C5.125 8.42708 5.0651 8.57552 4.94531 8.69531C4.82552 8.8151 4.67708 8.875 4.5 8.875C4.32292 8.875 4.17448 8.8151 4.05469 8.69531C3.9349 8.57552 3.875 8.42708 3.875 8.25V5.125Z' fill='%23004EA2'/%3E%3C/svg%3E%0A");
    }
}/*media*/

.university {
    margin: 96px 0 0 0;
    padding: 154px 0 133px 0;
    background: url(../images/university_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.university .wrapper {
    display: flex;
    justify-content: space-between;
}
.university .tit h2 {
    margin: 13px 0 0 0;
}
.university .list {
    width: calc(100% - 560px);
}
.university .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 20px;
}
.university .list ul li {
    width: 160px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
}
.university .list ul li a {
    display: block;
    position: relative; /* before 정렬 기준 */
    width: 100%;
    height: 100%;
}
.university .list ul li a span {
    position: absolute;
    left: 50%;
    top: 86px;
    transform: translateX(-50%);

}
.university .list ul li a::before {
    content: "";
    position: absolute; /* span 기준 정렬 */
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
    width: 40px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}
.university .list ul li.ico01 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='36' viewBox='0 0 41 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.464 35.31C18.952 34.1946 17.327 33.3328 15.589 32.7246C13.851 32.1165 12.0505 31.8124 10.1875 31.8124C9.04331 31.8124 7.91953 31.9392 6.81618 32.1928C5.71281 32.4464 4.64911 32.8196 3.62508 33.3124C2.95683 33.62 2.32101 33.5744 1.71764 33.1753C1.11429 32.7763 0.812622 32.2114 0.812622 31.4806V11.1587C0.812622 10.7548 0.919591 10.3816 1.13353 10.0391C1.34747 9.6965 1.64434 9.44709 2.02415 9.29084C3.29337 8.67306 4.61608 8.20973 5.99226 7.90086C7.36845 7.59195 8.76687 7.4375 10.1875 7.4375C12.0121 7.4375 13.7885 7.69592 15.5168 8.21277C17.2452 8.72961 18.9063 9.45678 20.5 10.3943V31.9278C22.0817 30.9278 23.7506 30.1898 25.5067 29.7139C27.2627 29.2379 29.0313 29 30.8125 29C31.8894 29 32.9069 29.0757 33.8648 29.2271C34.8227 29.3785 35.8125 29.6177 36.8341 29.9447C36.9664 29.9807 37.0896 29.9837 37.2037 29.9537C37.3179 29.9236 37.375 29.8244 37.375 29.6562V8.5986C37.6995 8.69475 38.0162 8.80172 38.3251 8.9195C38.634 9.03728 38.9351 9.18511 39.2283 9.36299C39.548 9.51924 39.7878 9.74759 39.9477 10.0481C40.1075 10.3486 40.1875 10.6707 40.1875 11.0144V31.4445C40.1875 32.1753 39.8768 32.7372 39.2554 33.1303C38.634 33.5233 37.9711 33.572 37.2668 33.2763C36.2548 32.7955 35.2061 32.4313 34.1208 32.1838C33.0355 31.9362 31.9327 31.8124 30.8125 31.8124C28.9375 31.8124 27.119 32.1075 25.357 32.6976C23.595 33.2877 21.964 34.1585 20.464 35.31ZM24.25 27.125V10.25L33.625 0.875V18.6875L24.25 27.125ZM17.6876 30.5685V12.0961C16.5121 11.5144 15.2946 11.0613 14.0349 10.7368C12.7753 10.4122 11.4928 10.25 10.1875 10.25C9.03128 10.25 7.93332 10.3563 6.89367 10.5691C5.85401 10.7818 4.87865 11.0769 3.96759 11.4543C3.87143 11.4903 3.79031 11.5414 3.72422 11.6075C3.65809 11.6736 3.62503 11.7548 3.62503 11.8509V29.7211C3.62503 29.8894 3.68212 29.9885 3.79631 30.0186C3.9105 30.0486 4.0337 30.0396 4.16592 29.9915C5.09139 29.6574 6.04511 29.4086 7.02707 29.2452C8.00904 29.0817 9.06253 29 10.1875 29C11.589 29 12.9279 29.1448 14.2044 29.4344C15.4809 29.7241 16.6419 30.1021 17.6876 30.5685Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico02 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 36.3124C16.0576 36.3124 13.753 35.8443 11.5859 34.9079C9.41888 33.9717 7.52884 32.697 5.91584 31.0841C4.30288 29.4711 3.02825 27.581 2.09197 25.414C1.15566 23.2469 0.6875 20.9423 0.6875 18.5C0.6875 16.0384 1.15566 13.7289 2.09197 11.5715C3.02825 9.41406 4.30288 7.52885 5.91584 5.91585C7.52884 4.30288 9.41888 3.02825 11.5859 2.09197C13.753 1.15566 16.0576 0.6875 18.5 0.6875C20.9615 0.6875 23.271 1.15566 25.4284 2.09197C27.5858 3.02825 29.4711 4.30288 31.0841 5.91585C32.697 7.52885 33.9717 9.41406 34.9079 11.5715C35.8443 13.7289 36.3124 16.0384 36.3124 18.5C36.3124 20.9423 35.8443 23.2469 34.9079 25.414C33.9717 27.581 32.697 29.4711 31.0841 31.0841C29.4711 32.697 27.5858 33.9717 25.4284 34.9079C23.271 35.8443 20.9615 36.3124 18.5 36.3124ZM18.5 33.4603C19.4567 32.1911 20.262 30.911 20.9158 29.6201C21.5697 28.3292 22.1021 26.9182 22.5132 25.3869H14.4867C14.9218 26.9663 15.4603 28.4014 16.1021 29.6923C16.7439 30.9831 17.5432 32.2391 18.5 33.4603ZM14.869 32.9447C14.1503 31.9134 13.5048 30.7409 12.9327 29.4272C12.3606 28.1135 11.9159 26.7667 11.5985 25.3869H5.23789C6.2283 27.3341 7.55644 28.9699 9.22231 30.2945C10.8882 31.619 12.7705 32.5024 14.869 32.9447ZM22.1309 32.9447C24.2295 32.5024 26.1117 31.619 27.7776 30.2945C29.4435 28.9699 30.7716 27.3341 31.762 25.3869H25.4014C25.024 26.7788 24.5492 28.1316 23.9771 29.4453C23.4049 30.759 22.7896 31.9255 22.1309 32.9447ZM4.05884 22.5745H11.0288C10.911 21.8774 10.8257 21.1941 10.7728 20.5246C10.72 19.8551 10.6935 19.1802 10.6935 18.5C10.6935 17.8197 10.72 17.1448 10.7728 16.4753C10.8257 15.8058 10.911 15.1225 11.0288 14.4254H4.05884C3.87856 15.0624 3.74034 15.7247 3.64419 16.4122C3.54803 17.0997 3.49995 17.7956 3.49995 18.5C3.49995 19.2043 3.54803 19.9002 3.64419 20.5877C3.74034 21.2752 3.87856 21.9375 4.05884 22.5745ZM13.8413 22.5745H23.1586C23.2764 21.8774 23.3618 21.2001 23.4147 20.5426C23.4675 19.8852 23.494 19.2043 23.494 18.5C23.494 17.7956 23.4675 17.1147 23.4147 16.4573C23.3618 15.7998 23.2764 15.1225 23.1586 14.4254H13.8413C13.7235 15.1225 13.6382 15.7998 13.5853 16.4573C13.5324 17.1147 13.5059 17.7956 13.5059 18.5C13.5059 19.2043 13.5324 19.8852 13.5853 20.5426C13.6382 21.2001 13.7235 21.8774 13.8413 22.5745ZM25.9711 22.5745H32.9411C33.1213 21.9375 33.2596 21.2752 33.3557 20.5877C33.4519 19.9002 33.5 19.2043 33.5 18.5C33.5 17.7956 33.4519 17.0997 33.3557 16.4122C33.2596 15.7247 33.1213 15.0624 32.9411 14.4254H25.9711C26.0889 15.1225 26.1742 15.8058 26.2271 16.4753C26.2799 17.1448 26.3064 17.8197 26.3064 18.5C26.3064 19.1802 26.2799 19.8551 26.2271 20.5246C26.1742 21.1941 26.0889 21.8774 25.9711 22.5745ZM25.4014 11.613H31.762C30.7596 9.6418 29.4405 8.00595 27.8046 6.70545C26.1688 5.40498 24.2776 4.51556 22.1309 4.03719C22.8496 5.12853 23.4891 6.32205 24.0492 7.61774C24.6093 8.91342 25.06 10.2452 25.4014 11.613ZM14.4867 11.613H22.5132C22.0781 10.0457 21.5306 8.60155 20.8708 7.28061C20.2109 5.9597 19.4206 4.71271 18.5 3.53961C17.5793 4.71271 16.789 5.9597 16.1292 7.28061C15.4693 8.60155 14.9218 10.0457 14.4867 11.613ZM5.23789 11.613H11.5985C11.9399 10.2452 12.3906 8.91342 12.9508 7.61774C13.5108 6.32205 14.1503 5.12853 14.869 4.03719C12.7104 4.51556 10.8161 5.408 9.18627 6.7145C7.55645 8.021 6.24033 9.65383 5.23789 11.613Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico03 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='32' viewBox='0 0 35 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 8.5771V2.9521H10V8.5771H7.18758V0.139648H27.8125V8.5771H25ZM28.3894 16.077C28.9207 16.077 29.366 15.8973 29.7254 15.5379C30.0847 15.1786 30.2644 14.7333 30.2644 14.202C30.2644 13.6708 30.0847 13.2254 29.7254 12.8661C29.366 12.5067 28.9207 12.327 28.3894 12.327C27.8582 12.327 27.4129 12.5067 27.0535 12.8661C26.6941 13.2254 26.5144 13.6708 26.5144 14.202C26.5144 14.7333 26.6941 15.1786 27.0535 15.5379C27.4129 15.8973 27.8582 16.077 28.3894 16.077ZM25 28.6251V20.6203H10V28.6251H25ZM27.8125 31.4376H7.18758V23.9376H0.228516V13.2645C0.228516 11.9364 0.682234 10.8231 1.58967 9.92471C2.49711 9.0263 3.60586 8.5771 4.91592 8.5771H30.0841C31.4122 8.5771 32.5255 9.0263 33.4239 9.92471C34.3223 10.8231 34.7715 11.9364 34.7715 13.2645V23.9376H27.8125V31.4376ZM31.9591 21.1251V13.2645C31.9591 12.7333 31.7795 12.2879 31.4201 11.9286C31.0607 11.5692 30.6154 11.3895 30.0841 11.3895H4.91592C4.38467 11.3895 3.93936 11.5692 3.57998 11.9286C3.22061 12.2879 3.04092 12.7333 3.04092 13.2645V21.1251H7.18758V17.8078H27.8125V21.1251H31.9591Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico04 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='34' viewBox='0 0 37 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.435181 33.5815V0.769043H18.2476V8.26904H36.5649V33.5815H0.435181ZM3.24759 30.769H7.93513V26.0815H3.24759V30.769ZM3.24759 23.269H7.93513V18.5815H3.24759V23.269ZM3.24759 15.769H7.93513V11.0815H3.24759V15.769ZM3.24759 8.26904H7.93513V3.58149H3.24759V8.26904ZM10.7476 30.769H15.4351V26.0815H10.7476V30.769ZM10.7476 23.269H15.4351V18.5815H10.7476V23.269ZM10.7476 15.769H15.4351V11.0815H10.7476V15.769ZM10.7476 8.26904H15.4351V3.58149H10.7476V8.26904ZM18.2476 30.769H33.7524V11.0815H18.2476V15.769H22.3582V18.5815H18.2476V23.269H22.3582V26.0815H18.2476V30.769ZM26.4688 18.5815V15.769H29.2812V18.5815H26.4688ZM26.4688 26.0815V23.269H29.2812V26.0815H26.4688Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico05 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='37' viewBox='0 0 35 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.18756 36.3124V28.7548C4.40631 27.1298 3.0235 25.2674 2.03912 23.1676C1.05475 21.0678 0.562561 18.8826 0.562561 16.6119C0.562561 12.1885 2.11205 8.42856 5.21101 5.33216C8.30995 2.23572 12.073 0.6875 16.5 0.6875C20.1418 0.6875 23.3984 1.77585 26.2698 3.95253C29.1412 6.12922 31.006 8.95313 31.8641 12.4243L34.0549 21.0766C34.1953 21.6112 34.0961 22.0967 33.7571 22.5329C33.4182 22.9693 32.9663 23.1874 32.4014 23.1874H28.6875V29.173C28.6875 30.1051 28.3556 30.903 27.6918 31.5667C27.028 32.2305 26.2301 32.5624 25.298 32.5624H21.1875V36.3124H18.375V29.75H25.298C25.4663 29.75 25.6045 29.6959 25.7127 29.5877C25.8209 29.4795 25.875 29.3413 25.875 29.173V20.375H30.9375L29.1563 13.1093C28.4375 10.2535 26.9003 7.93805 24.5445 6.16283C22.1887 4.38758 19.5072 3.49995 16.5 3.49995C12.875 3.49995 9.78126 4.76733 7.21876 7.30208C4.65626 9.83683 3.37501 12.9192 3.37501 16.5493C3.37501 18.4212 3.75783 20.1995 4.52345 21.8842C5.28908 23.5689 6.37501 25.0664 7.78126 26.3768L9.00002 27.5V36.3124H6.18756ZM15.0397 23.7283H17.9603L18.1695 21.6911C18.5397 21.5973 18.8864 21.4609 19.2097 21.2818C19.5331 21.1027 19.8089 20.8809 20.0373 20.6165L21.869 21.4639L23.3293 18.9795L21.7067 17.7716C21.8413 17.3894 21.9086 17.0072 21.9086 16.625C21.9086 16.2427 21.8413 15.8605 21.7067 15.4783L23.3293 14.2704L21.869 11.7861L20.0373 12.6334C19.8089 12.369 19.5331 12.1472 19.2097 11.9681C18.8864 11.789 18.5397 11.6526 18.1695 11.5588L17.9603 9.52161H15.0397L14.8306 11.5588C14.4604 11.6526 14.1136 11.789 13.7903 11.9681C13.467 12.1472 13.1911 12.369 12.9627 12.6334L11.131 11.7861L9.67075 14.2704L11.2933 15.4783C11.1587 15.8605 11.0914 16.2427 11.0914 16.625C11.0914 17.0072 11.1587 17.3894 11.2933 17.7716L9.67075 18.9795L11.131 21.4639L12.9627 20.6165C13.1911 20.8809 13.467 21.1027 13.7903 21.2818C14.1136 21.4609 14.4604 21.5973 14.8306 21.6911L15.0397 23.7283ZM16.4989 19.78C15.6222 19.78 14.8774 19.4732 14.2644 18.8595C13.6514 18.2458 13.345 17.5006 13.345 16.6239C13.345 15.7472 13.6518 15.0023 14.2655 14.3893C14.8792 13.7764 15.6244 13.4699 16.5011 13.4699C17.3778 13.4699 18.1226 13.7767 18.7356 14.3904C19.3486 15.0041 19.6551 15.7493 19.6551 16.626C19.6551 17.5027 19.3482 18.2476 18.7345 18.8606C18.1209 19.4735 17.3757 19.78 16.4989 19.78Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico06 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='35' viewBox='0 0 38 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.2344 14.719L14.9327 7.41735L16.9375 5.45947L22.2344 10.7563L32.875 0.162598L34.8329 2.12047L22.2344 14.719ZM23.9254 34.8535L10.2235 30.9448V33.5193H0.848633V15.5628H14.2764L25.7572 19.8032C26.6081 20.1181 27.3148 20.6752 27.8773 21.4744C28.4398 22.2737 28.7211 23.2118 28.7211 24.2887H33.4086C34.7548 24.2887 35.8545 24.7448 36.7079 25.6571C37.5612 26.5693 37.9879 27.7718 37.9879 29.2646V30.4545L23.9254 34.8535ZM3.66104 30.7069H7.41104V18.3752H3.66104V30.7069ZM23.8317 31.8896L35.024 28.4209C34.9663 28.005 34.7854 27.6811 34.4814 27.4491C34.1773 27.2171 33.8197 27.1011 33.4086 27.1011H24.5168C23.6082 27.1011 22.7512 27.0416 21.9459 26.9226C21.1406 26.8036 20.3389 26.6059 19.5409 26.3295L16.1081 25.1684L16.9879 22.4714L20.6298 23.6901C21.2283 23.9017 21.9146 24.0543 22.6887 24.1481C23.4627 24.2418 24.536 24.2887 25.9086 24.2887C25.9086 23.8248 25.8041 23.4245 25.5949 23.088C25.3858 22.7514 25.1106 22.5243 24.7692 22.4065L13.8004 18.3752H10.2235V28.0386L23.8317 31.8896Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico07 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='33' viewBox='0 0 31 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0313721 32.4374V29.625H3.78137V0.5625H20.6562V2.4375H27.2187V29.625H30.9687V32.4374H24.4062V5.24995H20.6562V32.4374H0.0313721ZM14.0938 18.1586C14.553 18.1586 14.9442 17.9969 15.2675 17.6736C15.5908 17.3503 15.7524 16.9591 15.7524 16.5C15.7524 16.0408 15.5908 15.6496 15.2675 15.3263C14.9442 15.003 14.553 14.8413 14.0938 14.8413C13.6347 14.8413 13.2435 15.003 12.9202 15.3263C12.5968 15.6496 12.4352 16.0408 12.4352 16.5C12.4352 16.9591 12.5968 17.3503 12.9202 17.6736C13.2435 17.9969 13.6347 18.1586 14.0938 18.1586ZM6.59383 29.625H17.8438V3.37495H6.59383V29.625Z' fill='white'/%3E%3C/svg%3E%0A");
}
.university .list ul li.ico08 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='33' viewBox='0 0 37 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.6875 32.4374V29.625H36.3124V32.4374H0.6875ZM2.5625 27.0287V15.5625H7.24995V27.0287H2.5625ZM11.613 27.0287V6.1875H16.3004V27.0287H11.613ZM20.6815 27.0287V11.8125H25.3689V27.0287H20.6815ZM29.75 27.0287V0.5625H34.4374V27.0287H29.75Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    .university {
        margin: 140px 0 0 0;
        padding: 102px 0 102px 0;
    }
    .university .wrapper {
        display: block; /* flex -> block 변경 */
    }
    .university .tit h2 {
        margin: 8px 0 0 0;
    }
    .university .list {
        margin: 44px 0 0 0;
    }
    .university .list {
        width: auto;
    }
    .university .list ul {
        gap: 16px 16px;
    }
    .university .list ul li {
        width: calc(50% - 8px);
        height: 145px;
    }
}/*media
