/***********************************
* 파일명 : content.css
* 작성자 : 신수진
* 작성일 : 25-10-23
* 설  명 : 연혁, 인사말 등의 각 페이지에만 들어가는 스타일 집합
           이 파일에 있는 css를 수정하면 해당 페이지 1개에만 영향을 끼침
************************************/

/* 회사소개 - CEO인사말 */
.ctn_ceo .ceo_head {
    height: 300dvh;
    position: relative; /* photo 정렬 기준 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ctn_ceo .ceo_head .ceo_photo {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="end"] {  /* 속성 선택자 */
    top: auto;
    bottom: 0;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
    position: fixed;   
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img{
    position: absolute; /* ceo_head 기준 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: url(../images/contents/ceo_img01.jpg) no-repeat center center / cover;
    transition: width 0.3s, height 0.3s;
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}
.ctn_ceo .ceo_head .ceo_txt {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ctn_ceo .ceo_head .ceo_txt p {
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
}
.ctn_ceo .ceo_cont {
    margin: 97px 0 87px 0;
}
.ctn_ceo .ceo_cont h3 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    margin: 0 0 42px 0;
}
.ctn_ceo .ceo_cont .sign {
    font-weight: 700;
    color: var(--color-txt-title);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 30px 0 13px 0;
}
.ctn_ceo .ceo_cont .sign .sign_img {
    display: block;
    width: 191px;
    height: 102px;
    background: url(../images/contents/ceo_sign.jpg) no-repeat center center / contain; /* 사인은 잘리면 안 되니까! */
}
@media screen and (max-width:1024px){
    .ctn_ceo .ceo_head .ceo_txt p {
        font-size: 3.2rem;
    }
    .ctn_ceo .ceo_cont {
        margin: 55px 0 28px 0;
    }
    .ctn_ceo .ceo_cont h3 {
        font-size: 2.2rem;
        margin: 0 0 27px 0;
    }
    .ctn_ceo .ceo_cont p {
        font-size: 1.6rem;
    }
    .ctn_ceo .ceo_cont .sign {
        font-size: 1.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 28px 0 28px 0;
    }
    .ctn_ceo .ceo_cont .sign .sign_img {
        display: block;
        width: 121px;
        height: 65px;
    }
}
@media screen and (max-width:550px){
    .ctn_ceo .ceo_head .ceo_txt p {
        font-size: 2.8rem;
    }
    .ctn_ceo .ceo_head .ceo_txt p br.pc_only {
        display: none;
    }
    .ctn_ceo .ceo_cont p {
        font-size: 1.5rem;
    }
}

/********************* 기업소개 > 연혁 *********************/
.ctn_history .his_head {
    font-size: clamp(2.8rem, 3vw, 5rem);
    /* padding: 3.36em 0 3.36em 0; */
    height: clamp(153px, 26vw, 400px);
    background: url(../images/contents/his_head01.jpg) no-repeat center center / cover;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctn_history .his_head.bg2 {
    background-image: url(../images/contents/his_head02.jpg);
}
.ctn_history .his_head.bg3 {
    background-image: url(../images/contents/his_head03.jpg);
}
.ctn_history .his_head.bg4 {
    background-image: url(../images/contents/his_head04.jpg);
}
.ctn_history .his_head h3 {
    font-weight: 700;
    line-height: 1.3;
    position: relative; /* strong 정렬 기준 */
    white-space: nowrap; /* 줄 바꿈 금지 */
}
.ctn_history .his_head h3 strong {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    color: var(--color-white);
    transition: width 0.5s;
}
.ctn_history .his_cont {
    margin: 80px 0 100px 0;
}
.ctn_history .his_cont .wrapper {
    display: flex; /* year_tit - year_list 좌우배치 */
    justify-content: space-between;
}
.ctn_history .his_cont.tit_right .wrapper {
    flex-direction: row-reverse;
    text-align: right;
}
.ctn_history .his_cont .his_tit {
    max-width: 45%;
}
.ctn_history .his_cont .his_tit strong {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-main);
}
.ctn_history .his_cont .his_tit h4 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    margin: 16px 0 0 0;
}
.ctn_history .his_cont .his_tit .photo {
    height: 331px;
    overflow: hidden;
    margin: 23px 0 0 0;
    border-radius: 30px;
}
.ctn_history .his_cont .his_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_cont .his_year {
    width: 50%;
    position: relative; /* before 정렬 기준 */
    padding-left: 44px;
}
.ctn_history .his_cont.tit_right .his_year {
    padding-left: 0;
    padding-right: 44px;
}
.ctn_history .his_cont .his_year::before {
    content: "";
    position: absolute; /* his_year 기준 정렬 */
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-gray);
}
.ctn_history .his_cont.tit_right .his_year::before {
    left: auto;
    right: 0;
}
.ctn_history .his_cont .his_year .year_tit {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    margin: 0 0 16px 0;
    position: relative; /* before 정렬 기준 */
}
/*
    [반복되는 컨텐츠에 많이 사용함 : 인접 형제 선택자]
    <diV class="year_tit"></div> --- 첫번째 year-tit에는 적용 X
    <div class="year_list"></div>
    <diV class="year_tit"></div> --- 두번째부터 나오는 year-tit에만 적용할 수 있게
    <div class="year_list"></div>
    .year_list+.year_tit ==> year_list 다음에 나오는 year_tit에만 적용 이라는 뜻
*/ 
.ctn_history .his_cont .his_year .year_list + .year_tit {
    margin-top: 40px;
}
.ctn_history .his_cont .his_year .year_tit::before {
    content: "";
    position: absolute;
    z-index: 10;
    left: -47px;
    top: 25px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-main);
}
.ctn_history .his_cont.tit_right .his_year .year_tit::before {
    left: auto;
    right: -47px;
}
/*
    <div class="his_year">
        <diV class="year_tit"></div> --- first-child 선택 가능
        <div class="year_list"></div>
        <diV class="year_tit"></div>
        <div class="year_list"></div>
        <diV class="year_tit"></div> --- last-child 선택 불가능
        <div class="year_list"></div> --- last-child 선택 가능
    </div>
    year_tit: first-child 선택 가능
    year_list: first-child 선택 불가능
    year_tit: last-child 선택 불가능
    year_list: last-child 선택 가능
*/
.ctn_history .his_cont .his_year .year_tit:first-child::after {
    content: "";
    position: absolute;
    left: -44px;
    top: 0;
    width: 3px;
    height: 30px;
    background-color: var(--color-white);
}
.ctn_history .his_cont.tit_right .his_year .year_tit:first-child::after {
    left: auto;
    right: -44px;
}
.ctn_history .his_cont .his_year .year_list {
    position: relative; /* after 정렬 기준 */
}
.ctn_history .his_cont .his_year .year_list:last-child::after {
    content: "";
    position: absolute;
    left: -44px;
    bottom: -20px;
    width: 3px;
    height: calc(100% + 60px);
    background-color: var(--color-white);
}
.ctn_history .his_cont.tit_right .his_year .year_list:last-child::after {
    left: auto;
    right: -44px;
}
.ctn_history .his_cont .his_year .year_list dl dt {
    font-weight: 700;
    color: var(--color-txt-title);
    float: left;
}
.ctn_history .his_cont.tit_right .his_year .year_list dl dt {
    float: right;
}
.ctn_history .his_cont .his_year .year_list dl dd {
    margin: 0 0 12px 93px;
}
.ctn_history .his_cont.tit_right .his_year .year_list dl dd {
    margin: 0 93px 12px 0;
}
.ctn_history .his_bar {
    position: fixed;
    left: 50%;
    bottom: 5%;
    z-index: 99; /* header 바로 아래  */
    transform: translate(-50%);
    background-image: linear-gradient(90deg, rgba(193,25,32,0.8), rgba(91,12,15,0.8));
    backdrop-filter: blur(20px);
    border-radius: 40px;
    padding: 6px 9px;
    color: var(--color-white);
    max-width: 90%;
    overflow: hidden;
    transition: bottom 0.5s;
}
.ctn_history .his_bar.hide {
    bottom: -100px;
}
.ctn_history .his_bar ul {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.ctn_history .his_bar ul::-webkit-scrollbar {
    display: none;
}
.ctn_history .his_bar ul li a {
    display: block;
    border-radius: 40px;
    padding: 0.8235em 1.5882em;
    font-weight: 700;
    white-space: nowrap;
}
.ctn_history .his_bar ul li.active a {
    background-color: var(--color-dark);
}
@media screen and (max-width:1024px){
    .ctn_history .his_cont {
        margin: 40px 0 76px 0;
    }
    .ctn_history .his_cont .wrapper {
        display: block;
    }
    .ctn_history .his_cont.tit_right .wrapper {
        text-align: left;
    }
    .ctn_history .his_cont .his_tit {
        max-width: 100%;
    }
    .ctn_history .his_cont .his_tit strong {
        font-size: 2.2rem;
    }
    .ctn_history .his_cont .his_tit h4 {
        font-size: 3.2rem;
        margin: 14px 0 0 0;
    }
    .ctn_history .his_cont .his_tit h4 br {
        display: none;
    }
    .ctn_history .his_cont .his_tit .photo {
        display: none;
    }
    .ctn_history .his_cont .his_year {
        width: auto;
        padding-left: 23px;
        margin: 27px 0 0 0;
    }
    .ctn_history .his_cont.tit_right .his_year {
        padding-left: 23px;
        padding-right: 0;
    }
    .ctn_history .his_cont.tit_right .his_year::before {
        left: 0;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_tit {
        font-size: 2.8rem;
        margin: 0 0 14px 0;
    }
    .ctn_history .his_cont .his_year .year_list+.year_tit {
        margin-top: 30px;
    }
    .ctn_history .his_cont .his_year .year_tit::before {
        left: -26px;
        top: 16px;
    }
    .ctn_history .his_cont.tit_right .his_year .year_tit::before {
        left: -26px;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_tit:first-child::after {
        left: -23px;
        height: 24px;
    }
    .ctn_history .his_cont.tit_right .his_year .year_tit:first-child::after {
        left: -23px;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_list:last-child::after {
        left: -23px;
        height: calc(100% + 50px);
    }
    .ctn_history .his_cont.tit_right .his_year .year_list:last-child::after {
        left: -23px;
        right: auto;
    }
    .ctn_history .his_cont .his_year .year_list dl dt {
        font-size: 15px;
    }
    .ctn_history .his_cont.tit_right .his_year .year_list dl dt {
        float: left;
    }
    .ctn_history .his_cont .his_year .year_list dl dd {
        margin: 0 0 12px 83px;
    }

    .ctn_history .his_cont.tit_right .his_year .year_list dl dd {
        margin: 0 0 12px 83px;
    }
    .ctn_history .his_bar ul li button {
        font-size: 1.5rem;
    }
}/*media*/