/***********************************
* 파일명 : layout.css
* 작성자 : 신수진
* 작성일 : 25-10-23
* 설  명 : header / footer 스타일 선언
************************************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m);
    transition: transform 0.5s;
}
header .logo a {
    display: block;
    width: 133px;
    height: 44px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    margin-bottom: 17px;
}
header .util .lang {
    display: block;
    font-size: 2rem;
    position: relative; /* before 정렬 기준 */
    padding-left: 1.95em; /* 아이콘이 들어갈 여백 */
}
header .util .lang::before {
    content: "";
    position: absolute; /* before 기준 정렬 */
    left: 0.2em;
    top: 0.1em;
    width: 1.453em;
    height: 1.453em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5289 29.0578C12.5369 29.0578 10.6571 28.676 8.88939 27.9123C7.12171 27.1487 5.58012 26.1089 4.26461 24.7932C2.94886 23.4777 1.90915 21.9361 1.14549 20.1684C0.38183 18.4007 0 16.5209 0 14.5289C0 12.5211 0.38183 10.6373 1.14549 8.87754C1.90915 7.11776 2.94886 5.58012 4.26461 4.26461C5.58012 2.94886 7.12171 1.90915 8.88939 1.14549C10.6571 0.381831 12.5369 0 14.5289 0C16.5367 0 18.4205 0.381831 20.1803 1.14549C21.94 1.90915 23.4777 2.94886 24.7932 4.26461C26.1089 5.58012 27.1487 7.11776 27.9123 8.87754C28.676 10.6373 29.0578 12.5211 29.0578 14.5289C29.0578 16.5209 28.676 18.4007 27.9123 20.1684C27.1487 21.9361 26.1089 23.4777 24.7932 24.7932C23.4777 26.1089 21.94 27.1487 20.1803 27.9123C18.4205 28.676 16.5367 29.0578 14.5289 29.0578ZM14.5289 26.7313C15.3094 25.6961 15.9662 24.6521 16.4995 23.5991C17.0327 22.5462 17.4671 21.3952 17.8025 20.1462H11.2553C11.6104 21.4345 12.0497 22.6051 12.5732 23.658C13.0965 24.711 13.7484 25.7354 14.5289 26.7313ZM11.5673 26.3107C10.981 25.4695 10.4546 24.5133 9.98785 23.442C9.52115 22.3704 9.15843 21.2718 8.89972 20.1462H3.71175C4.51951 21.7345 5.6028 23.0688 6.96164 24.1493C8.32047 25.2296 9.85569 25.95 11.5673 26.3107ZM17.4905 26.3107C19.2021 25.95 20.7373 25.2296 22.0962 24.1493C23.455 23.0688 24.5383 21.7345 25.346 20.1462H20.1581C19.8502 21.2815 19.4629 22.385 18.9962 23.4565C18.5297 24.5281 18.0278 25.4795 17.4905 26.3107ZM2.74979 17.8522H8.43517C8.33908 17.2838 8.26937 16.7265 8.22603 16.1802C8.18296 15.6342 8.16142 15.0838 8.16142 14.5289C8.16142 13.974 8.18296 13.4236 8.22603 12.8776C8.26937 12.3313 8.33908 11.774 8.43517 11.2056H2.74979C2.60271 11.7251 2.49005 12.2652 2.4118 12.826C2.33329 13.3867 2.29404 13.9544 2.29404 14.5289C2.29404 15.1034 2.33329 15.6711 2.4118 16.2318C2.49005 16.7926 2.60271 17.3327 2.74979 17.8522ZM10.7288 17.8522H18.329C18.4248 17.2838 18.4944 16.7314 18.5377 16.1951C18.5808 15.6588 18.6023 15.1034 18.6023 14.5289C18.6023 13.9544 18.5808 13.399 18.5377 12.8627C18.4944 12.3264 18.4248 11.774 18.329 11.2056H10.7288C10.633 11.774 10.5634 12.3264 10.5201 12.8627C10.477 13.399 10.4555 13.9544 10.4555 14.5289C10.4555 15.1034 10.477 15.6588 10.5201 16.1951C10.5634 16.7314 10.633 17.2838 10.7288 17.8522ZM20.6226 17.8522H26.308C26.4551 17.3327 26.5678 16.7926 26.646 16.2318C26.7245 15.6711 26.7638 15.1034 26.7638 14.5289C26.7638 13.9544 26.7245 13.3867 26.646 12.826C26.5678 12.2652 26.4551 11.7251 26.308 11.2056H20.6226C20.7187 11.774 20.7884 12.3313 20.8318 12.8776C20.8748 13.4236 20.8964 13.974 20.8964 14.5289C20.8964 15.0838 20.8748 15.6342 20.8318 16.1802C20.7884 16.7265 20.7187 17.2838 20.6226 17.8522ZM20.1581 8.91157H25.346C24.5286 7.3037 23.4527 5.96934 22.1183 4.90847C20.784 3.84786 19.2414 3.12244 17.4905 2.7322C18.0768 3.62229 18.5983 4.59585 19.055 5.65289C19.5121 6.70967 19.8797 7.7959 20.1581 8.91157ZM11.2553 8.91157H17.8025C17.4474 7.63303 17.0009 6.45504 16.4628 5.37761C15.9244 4.30017 15.2798 3.28315 14.5289 2.32653C13.778 3.28315 13.1334 4.30017 12.595 5.37761C12.0569 6.45504 11.6104 7.63303 11.2553 8.91157ZM3.71175 8.91157H8.89972C9.17806 7.7959 9.54574 6.70967 10.0028 5.65289C10.4595 4.59585 10.981 3.62229 11.5673 2.7322C9.8065 3.12244 8.26146 3.85041 6.9322 4.91612C5.60268 5.98157 4.52919 7.31339 3.71175 8.91157Z' /%3E%3C/svg%3E%0A");
}
/********************** fixed 추가 (header 고정)**********************/
header.fixed {
    color: var(--color-txt-title);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 20' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.25V0H25.5V2.25H0ZM0 19.5V17.25H25.5V19.5H0ZM0 10.875V8.625H25.5V10.875H0Z'/%3E%3C/svg%3E%0A");
}   
header.fixed .util .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5289 29.0578C12.5369 29.0578 10.6571 28.676 8.88939 27.9123C7.12171 27.1487 5.58012 26.1089 4.26461 24.7932C2.94886 23.4777 1.90915 21.9361 1.14549 20.1684C0.38183 18.4007 0 16.5209 0 14.5289C0 12.5211 0.38183 10.6373 1.14549 8.87754C1.90915 7.11776 2.94886 5.58012 4.26461 4.26461C5.58012 2.94886 7.12171 1.90915 8.88939 1.14549C10.6571 0.381831 12.5369 0 14.5289 0C16.5367 0 18.4205 0.381831 20.1803 1.14549C21.94 1.90915 23.4777 2.94886 24.7932 4.26461C26.1089 5.58012 27.1487 7.11776 27.9123 8.87754C28.676 10.6373 29.0578 12.5211 29.0578 14.5289C29.0578 16.5209 28.676 18.4007 27.9123 20.1684C27.1487 21.9361 26.1089 23.4777 24.7932 24.7932C23.4777 26.1089 21.94 27.1487 20.1803 27.9123C18.4205 28.676 16.5367 29.0578 14.5289 29.0578ZM14.5289 26.7313C15.3094 25.6961 15.9662 24.6521 16.4995 23.5991C17.0327 22.5462 17.4671 21.3952 17.8025 20.1462H11.2553C11.6104 21.4345 12.0497 22.6051 12.5732 23.658C13.0965 24.711 13.7484 25.7354 14.5289 26.7313ZM11.5673 26.3107C10.981 25.4695 10.4546 24.5133 9.98785 23.442C9.52115 22.3704 9.15843 21.2718 8.89972 20.1462H3.71175C4.51951 21.7345 5.6028 23.0688 6.96164 24.1493C8.32047 25.2296 9.85569 25.95 11.5673 26.3107ZM17.4905 26.3107C19.2021 25.95 20.7373 25.2296 22.0962 24.1493C23.455 23.0688 24.5383 21.7345 25.346 20.1462H20.1581C19.8502 21.2815 19.4629 22.385 18.9962 23.4565C18.5297 24.5281 18.0278 25.4795 17.4905 26.3107ZM2.74979 17.8522H8.43517C8.33908 17.2838 8.26937 16.7265 8.22603 16.1802C8.18296 15.6342 8.16142 15.0838 8.16142 14.5289C8.16142 13.974 8.18296 13.4236 8.22603 12.8776C8.26937 12.3313 8.33908 11.774 8.43517 11.2056H2.74979C2.60271 11.7251 2.49005 12.2652 2.4118 12.826C2.33329 13.3867 2.29404 13.9544 2.29404 14.5289C2.29404 15.1034 2.33329 15.6711 2.4118 16.2318C2.49005 16.7926 2.60271 17.3327 2.74979 17.8522ZM10.7288 17.8522H18.329C18.4248 17.2838 18.4944 16.7314 18.5377 16.1951C18.5808 15.6588 18.6023 15.1034 18.6023 14.5289C18.6023 13.9544 18.5808 13.399 18.5377 12.8627C18.4944 12.3264 18.4248 11.774 18.329 11.2056H10.7288C10.633 11.774 10.5634 12.3264 10.5201 12.8627C10.477 13.399 10.4555 13.9544 10.4555 14.5289C10.4555 15.1034 10.477 15.6588 10.5201 16.1951C10.5634 16.7314 10.633 17.2838 10.7288 17.8522ZM20.6226 17.8522H26.308C26.4551 17.3327 26.5678 16.7926 26.646 16.2318C26.7245 15.6711 26.7638 15.1034 26.7638 14.5289C26.7638 13.9544 26.7245 13.3867 26.646 12.826C26.5678 12.2652 26.4551 11.7251 26.308 11.2056H20.6226C20.7187 11.774 20.7884 12.3313 20.8318 12.8776C20.8748 13.4236 20.8964 13.974 20.8964 14.5289C20.8964 15.0838 20.8748 15.6342 20.8318 16.1802C20.7884 16.7265 20.7187 17.2838 20.6226 17.8522ZM20.1581 8.91157H25.346C24.5286 7.3037 23.4527 5.96934 22.1183 4.90847C20.784 3.84786 19.2414 3.12244 17.4905 2.7322C18.0768 3.62229 18.5983 4.59585 19.055 5.65289C19.5121 6.70967 19.8797 7.7959 20.1581 8.91157ZM11.2553 8.91157H17.8025C17.4474 7.63303 17.0009 6.45504 16.4628 5.37761C15.9244 4.30017 15.2798 3.28315 14.5289 2.32653C13.778 3.28315 13.1334 4.30017 12.595 5.37761C12.0569 6.45504 11.6104 7.63303 11.2553 8.91157ZM3.71175 8.91157H8.89972C9.17806 7.7959 9.54574 6.70967 10.0028 5.65289C10.4595 4.59585 10.981 3.62229 11.5673 2.7322C9.8065 3.12244 8.26146 3.85041 6.9322 4.91612C5.60268 5.98157 4.52919 7.31339 3.71175 8.91157Z' /%3E%3C/svg%3E%0A");
}
/********************** 스크롤을 아래로 내릴 때 header 올림 **********************/
/* header에 menu_pc, menu_mo 이때는 작동이 안 됐으면 좋겠다 -->>  */
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}
@media screen and (min-width:1025px){ /* 1025보다 클 때 = pc버전 */
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        /* line-height: var(--header-h); */
        line-height: var(--header-h);
        padding: 0 1.875em;
        position: relative; /* after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1PX;
        width: 0;
        height: 2px;
        background-color: var(--color-main);
        transition: width 0.3s;
        transform: translateX(-50%);
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a::after,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus::after {
        width: 80%;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* 1차 li 기준 정렬 */
        left: 50%;
        top: var(--header-h);
        transform: translateX(-50%);
        text-align: center;
        padding-top: 34px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 4px 0;
        color: var(--color-txt-basic);
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--color-main);
        font-weight: 700;
    }
    /********************** menu_pc 추가 **********************/
    header.menu_pc {
        color: var(--color-txt-title);
    }
    header::before {
        content: "";
        position: absolute; /* header 기준 정렬 */
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background-color: var(--color-white);
        transition: height 0.5s;
    }
    header.menu_pc::before {
        height: 457px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: var(--color-gray);
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .util .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5289 29.0578C12.5369 29.0578 10.6571 28.676 8.88939 27.9123C7.12171 27.1487 5.58012 26.1089 4.26461 24.7932C2.94886 23.4777 1.90915 21.9361 1.14549 20.1684C0.38183 18.4007 0 16.5209 0 14.5289C0 12.5211 0.38183 10.6373 1.14549 8.87754C1.90915 7.11776 2.94886 5.58012 4.26461 4.26461C5.58012 2.94886 7.12171 1.90915 8.88939 1.14549C10.6571 0.381831 12.5369 0 14.5289 0C16.5367 0 18.4205 0.381831 20.1803 1.14549C21.94 1.90915 23.4777 2.94886 24.7932 4.26461C26.1089 5.58012 27.1487 7.11776 27.9123 8.87754C28.676 10.6373 29.0578 12.5211 29.0578 14.5289C29.0578 16.5209 28.676 18.4007 27.9123 20.1684C27.1487 21.9361 26.1089 23.4777 24.7932 24.7932C23.4777 26.1089 21.94 27.1487 20.1803 27.9123C18.4205 28.676 16.5367 29.0578 14.5289 29.0578ZM14.5289 26.7313C15.3094 25.6961 15.9662 24.6521 16.4995 23.5991C17.0327 22.5462 17.4671 21.3952 17.8025 20.1462H11.2553C11.6104 21.4345 12.0497 22.6051 12.5732 23.658C13.0965 24.711 13.7484 25.7354 14.5289 26.7313ZM11.5673 26.3107C10.981 25.4695 10.4546 24.5133 9.98785 23.442C9.52115 22.3704 9.15843 21.2718 8.89972 20.1462H3.71175C4.51951 21.7345 5.6028 23.0688 6.96164 24.1493C8.32047 25.2296 9.85569 25.95 11.5673 26.3107ZM17.4905 26.3107C19.2021 25.95 20.7373 25.2296 22.0962 24.1493C23.455 23.0688 24.5383 21.7345 25.346 20.1462H20.1581C19.8502 21.2815 19.4629 22.385 18.9962 23.4565C18.5297 24.5281 18.0278 25.4795 17.4905 26.3107ZM2.74979 17.8522H8.43517C8.33908 17.2838 8.26937 16.7265 8.22603 16.1802C8.18296 15.6342 8.16142 15.0838 8.16142 14.5289C8.16142 13.974 8.18296 13.4236 8.22603 12.8776C8.26937 12.3313 8.33908 11.774 8.43517 11.2056H2.74979C2.60271 11.7251 2.49005 12.2652 2.4118 12.826C2.33329 13.3867 2.29404 13.9544 2.29404 14.5289C2.29404 15.1034 2.33329 15.6711 2.4118 16.2318C2.49005 16.7926 2.60271 17.3327 2.74979 17.8522ZM10.7288 17.8522H18.329C18.4248 17.2838 18.4944 16.7314 18.5377 16.1951C18.5808 15.6588 18.6023 15.1034 18.6023 14.5289C18.6023 13.9544 18.5808 13.399 18.5377 12.8627C18.4944 12.3264 18.4248 11.774 18.329 11.2056H10.7288C10.633 11.774 10.5634 12.3264 10.5201 12.8627C10.477 13.399 10.4555 13.9544 10.4555 14.5289C10.4555 15.1034 10.477 15.6588 10.5201 16.1951C10.5634 16.7314 10.633 17.2838 10.7288 17.8522ZM20.6226 17.8522H26.308C26.4551 17.3327 26.5678 16.7926 26.646 16.2318C26.7245 15.6711 26.7638 15.1034 26.7638 14.5289C26.7638 13.9544 26.7245 13.3867 26.646 12.826C26.5678 12.2652 26.4551 11.7251 26.308 11.2056H20.6226C20.7187 11.774 20.7884 12.3313 20.8318 12.8776C20.8748 13.4236 20.8964 13.974 20.8964 14.5289C20.8964 15.0838 20.8748 15.6342 20.8318 16.1802C20.7884 16.7265 20.7187 17.2838 20.6226 17.8522ZM20.1581 8.91157H25.346C24.5286 7.3037 23.4527 5.96934 22.1183 4.90847C20.784 3.84786 19.2414 3.12244 17.4905 2.7322C18.0768 3.62229 18.5983 4.59585 19.055 5.65289C19.5121 6.70967 19.8797 7.7959 20.1581 8.91157ZM11.2553 8.91157H17.8025C17.4474 7.63303 17.0009 6.45504 16.4628 5.37761C15.9244 4.30017 15.2798 3.28315 14.5289 2.32653C13.778 3.28315 13.1334 4.30017 12.595 5.37761C12.0569 6.45504 11.6104 7.63303 11.2553 8.91157ZM3.71175 8.91157H8.89972C9.17806 7.7959 9.54574 6.70967 10.0028 5.65289C10.4595 4.59585 10.981 3.62229 11.5673 2.7322C9.8065 3.12244 8.26146 3.85041 6.9322 4.91612C5.60268 5.98157 4.52919 7.31339 3.71175 8.91157Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding-top: 0;
        transition: height 0.5s;
        display: block !important;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 1;
        height: 358px;
        padding-top: 34px;
        min-width: 100%; /* li 넓이보다 작으면 안 된다의 의미 */
    }
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */
        z-index: -2;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        opacity: 0;
        transition: height 0s, opacity 0.5s;
    }
    header.menu_pc .gnb .gnb_bg {
        height: 100vh;
        opacity: 1;
    }
}/*media*/
@media screen and (max-width:1280px) and (min-width:1025px){ /* 1280 ~ 1024 사이 - 태블릿 사이즈*/
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 2.2rem;
        padding: 0 1.4em;
    }
}/*media*/
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 120px;
        height: 40px;
        margin-bottom: 11px;
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25.5px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.25V0H25.5V2.25H0ZM0 19.5V17.25H25.5V19.5H0ZM0 10.875V8.625H25.5V10.875H0Z'/%3E%3C/svg%3E%0A");
        
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header 기준 정렬 */
        z-index: 10;
        right: -86%;
        top: 0;
        height: 100dvh;
        background-color: var(--color-white);
        color: var(--color-txt-title);
        width: 85%;
        transition: 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap 기준 정렬 */
        left: 7%;
        top: 0;
        width: 83px;
        height: calc(var(--header-h) - 10px);
        background: url(../images/common/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto; /* 메뉴가 길면 스크롤바 생성 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-top: 1px solid var(--color-gray);
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child {
        border-bottom: 1px solid var(--color-gray);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 18px 0 18px 7%;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3;
        position: relative; /* before, after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before,
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: 21px;
        top: 29px;
        width: 15px;
        height: 1px;
        background-color: var(--color-txt-basic);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        transform: rotate(90deg);
    }
    /*********** 시작 : open 클래스 추가 ***********/
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before,
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(0deg);
        transition: transform 0.5s;
    }
    /*********** 끝 : open 클래스 추가 ***********/
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: var(--color-gray2);
        padding: 20px 0;
        display: none; /* 메뉴를 클릭하면 나옴 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--color-txt-basic);
        padding: 3px 0 3px 14%;
    }
    header .gnb .gnb_wrap .gnb_close {
        display: block;
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 19.96px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='%231C1B1F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.58062 19.9613L0 18.3806L8.4 9.98063L0 1.58063L1.58062 0L9.98063 8.4L18.3806 0L19.9613 1.58063L11.5613 9.98063L19.9613 18.3806L18.3806 19.9613L9.98063 11.5613L1.58062 19.9613Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */
        right: -100%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg {
        right: 0;
        opacity: 1;
    }
}/*media*/
@media screen and (max-width:768px){
    header .logo a {
        width: 83px;
        height: 27px;
        margin-bottom: 10px;
    }
    header .gnb .gnb_open {
       background-size: 25.5px;
    }
}/*media*/

footer {
    background-color: var(--color-dark);
    padding: 78px 0 98px 0;
    color: rgba(255, 255, 255, 0.8);
}
footer .wrapper {
    display: flex; /* f_logo - inner 좌우배치 */
    gap: 0 40px;
    position: relative; /* f_util 정렬 기준 */
}
footer .f_logo {
    width: 106px;
    height: 35px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
footer .f_util {
    position: absolute; /* wrapper 기준 정렬 */
    right: 0;
    top: 0;
    display: flex; /* family_site - top 좌우배치 */
    gap: 0 10px;
}
footer .f_util .family_site {
    width: 181px; 
    /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
       그래서 감싸고 있는 family_site에 넓이를 주고 내부 요소는 그에 100% 꽉 차게 줌 */
    position: relative; /* family_wrap 정렬 기준 */
}
footer .f_util .family_site .faily_open,
footer .f_util .family_site .faily_close {
    display: block;
    width: 100%;
    height: 2.7647em;
    text-align: left;
    padding: 0 0 2px 1.0588em;
    background-color: #2D2D2D;
    position: relative; /* after 정렬의 기준 */
}
footer .f_util .family_site .faily_open::after,
footer .f_util .family_site .faily_close::after {
    content: "";
    position: absolute; /* open 기준 정렬 */
    right: 1.0588em;
    top: 1.2353em;
    width: 0.7059em;
    height: 0.3529em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 6' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4.58815L11.1999 -3.49716e-08L12 0.705926L6 6L-3.0857e-08 0.705926L0.800056 -4.89565e-07L6 4.58815Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none; /* 열릴 때 보임 */
    position: absolute;
    left: 0;
    bottom: calc(2.8824em + 1px);
    width: 100%;
    background-color: #2D2D2D;
    padding: 1.0588em 1.0588em 1.1765em 1.0588em;
}
footer .f_util .family_site .family_wrap ul li a {
    display: block;
    padding: 0.1765em 0 0 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative; /* after 정렬 기준 */
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute; /* span 기준 정렬 */
    right: -1.3529em;
    top: 0.5059em;
    width: 0.7212em;
    height: 0.7212em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.825121 8.17204C0.590004 8.17204 0.393705 8.0933 0.236223 7.93582C0.078741 7.77834 0 7.58204 0 7.34692V0.825121C0 0.590004 0.078741 0.393705 0.236223 0.236223C0.393705 0.078741 0.590004 0 0.825121 0H3.69313V0.510753H0.825121C0.746465 0.510753 0.674406 0.543483 0.608945 0.608945C0.543483 0.674406 0.510753 0.746465 0.510753 0.825121V7.34692C0.510753 7.42558 0.543483 7.49764 0.608945 7.5631C0.674406 7.62856 0.746465 7.66129 0.825121 7.66129H7.34692C7.42558 7.66129 7.49764 7.62856 7.5631 7.5631C7.62856 7.49764 7.66129 7.42558 7.66129 7.34692V4.47892H8.17204V7.34692C8.17204 7.58204 8.0933 7.77834 7.93582 7.93582C7.77834 8.0933 7.58204 8.17204 7.34692 8.17204H0.825121ZM2.93095 5.60257L2.56947 5.24109L7.29981 0.510753H5.10753V0H8.17204V3.06452H7.66129V0.872238L2.93095 5.60257Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .faily_close {
    display: none;
}
/* 열렸을 때 */
footer .f_util .family_site.open .faily_open {
    display: none;
}
footer .f_util .family_site.open .faily_close {
    display: block;
}
footer .f_util .family_site.open .faily_close::after {
    animation: family_btn 0.3s 1 forwards;
}
@keyframes family_btn {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(180deg); }
}
footer .f_util .top {
    height:2.7647em;
    background-color: var(--color-main);
    padding: 0 0.7882em 0.1176em 0.7882em;
    padding: 0.6471em 0.4118em 0.7059em 0.4118em;
}
footer .inner .f_nav ul {
    display: flex;
    flex-wrap: wrap; /* 모바일 2줄 허용 */
    gap: 0 2.4118em;
}
footer .inner .f_info {
    margin: 26px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.4118em;
}
@media screen and (max-width:1280px){
    footer .inner .f_nav ul {
        gap: 0 2.1em;
    }
}/*media*/
@media screen and (max-width:1024px) {
    footer {
        font-size: 1.6rem;
    }
    footer .wrapper {
        flex-direction: column;
        gap: 20px 0;
    }
    footer .f_util {
        top: 52px;
    }
    footer .inner .f_nav ul {
    gap: 0 1em;
    }
}/*media*/
@media screen and (max-width:768px){
    footer {
        padding: 54px 0 64px 0;
        font-size: 1.5rem;
    }
    footer .wrapper {
        display: block;
    }
    footer .f_logo {
        width: 82px;
        height: 27px;
    }
    footer .f_util {
        position: relative; /* absolute 해제 */
        right: auto;
        top: auto;
        gap: 0 15px;
        margin: 27px 0 42px 0; 
    }
    footer .f_util .family_site {
        width: calc(100% - 57px);
        max-width: 370px;
    }
    footer .inner .f_nav ul {
        gap: 0 1.5882em;
    }
    footer .inner .f_info {
        margin: 27px 0 0 0;
        gap: 0 1.5882em;
    }
}/*media*/