/***********************************
* 파일명 : main.css
* 작성자 : 신수진
* 작성일 : 25-10-23
    * 설  명 : index파일 (메인페이지) 에서만 호출하는 css
                --> 메인페이지(index) 스타일 선언 (header / footer 제외)
            default.css (태그의 초기화 = 브라우저의 기본 스타일 삭제)
            common.css 또는 reset.css (wrapper, wrap, blind 처럼 모든 페이지에서 반복되는 기본 스타일)
                --> :root 또는 var / 변수가 너무 많으면 variable 파일로 분리도 함
                layout.css (문서의 구조에 영향을 끼치는 요소 - header / footer)
                sub.css (메인을 제외한 모든 페이지에서 호출)
************************************/

@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬 기준 */
    color: var(--color-white);
}
.visual .popup .slide {
    position: relative; /* photo 정렬 기준 */
    height: 100dvh;
    /* txt를 slide의 하단에 배치 - 넓이가 100% */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup .slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .popup .slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 2s;
}
.visual .popup .slide.slick-active .photo img { /* 현재 보이는 팝업일 때 */
    transform: scale3d(1, 1, 1);
}
.visual .popup .slide .txt {
    margin-bottom: 186px;
}
.visual .popup .slide .txt h3 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 12px 0;
}
@media screen and (min-width:769px){
    .visual .popup .slide .txt .line {
        display: block;
        overflow: hidden;
    }
    .visual .popup .slide .txt .line span {
        display: block;
        transform: translateY(100%); 
        transition: transform 1s;
        transition-delay: 0.3s;
        padding-bottom: 4px;
    }
    .visual .popup .slide.slick-active .txt .line span { /* 현재 보이는 팝업일 때 */
        transform: translateY(0);
    }
}/*media*/
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    left: 50%;
    bottom: 85px;
    transform: translateX(-50%);
    font-size: 1.5rem;
}
.visual .scroll::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -60px;
    width: 22px;
    height: 39px;
    transform: translateX(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 37' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1765 25.7353V10.5C20.1765 5.15583 15.8442 0.823529 10.5 0.823529C5.15583 0.823529 0.82353 5.15583 0.823529 10.5V25.7353C0.823529 31.0795 5.15583 35.4118 10.5 35.4118V36.2353C4.70101 36.2353 0 31.5343 0 25.7353V10.5C4.2448e-07 4.70101 4.70101 0 10.5 0C16.299 0 21 4.70101 21 10.5V25.7353L20.9964 26.0063C20.8526 31.68 16.2084 36.2353 10.5 36.2353V35.4118C15.8442 35.4118 20.1765 31.0795 20.1765 25.7353Z' fill='white'/%3E%3Cpath d='M12.3529 12.1473V7.61788C12.3529 6.59453 11.5233 5.76494 10.5 5.76494C9.47661 5.76494 8.64702 6.59453 8.64702 7.61788V12.1473C8.64702 13.1706 9.47661 14.0002 10.5 14.0002V14.8238C9.06804 14.8238 7.89889 13.6993 7.82711 12.2852L7.82349 12.1473V7.61788C7.82349 6.1397 9.02178 4.94141 10.5 4.94141C11.9781 4.94141 13.1764 6.1397 13.1764 7.61788V12.1473C13.1764 13.6255 11.9781 14.8238 10.5 14.8238V14.0002C11.5233 14.0002 12.3529 13.1706 12.3529 12.1473Z' /%3E%3C/svg%3E%0A");
    animation: scroll 1.8s linear infinite;
}
@keyframes scroll {
    0% { bottom: -43px;}
    50% { bottom: -60px;}
    100% { bottom: -43px;}
}
@media screen and (min-width:769px) and (max-width:1300px){
    .visual .popup .slide .txt h3 {
        font-size: 4rem;
    }
    .visual .popup .slide .txt p {
        font-size: 1.6rem;
    }
}
@media screen and (max-width:768px){
    .visual .popup .slide {
        height: 600px;
        /* txt를 slide의 하단에 배치 - 넓이가 100% */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .visual .popup .slide .photo img {
        transform: scale3d(1.2, 1.2, 1);
        transition: 2s;
    }
    .visual .popup .slide.slick-active .photo img { /* 현재 보이는 팝업일 때 */
        transform: scale3d(1, 1, 1);
    }
    .visual .popup .slide .txt {
        margin-bottom: 134px;
        text-align: center;
    }
    .visual .popup .slide .txt h3 {
        font-size: 2.4rem;
        margin: 0 0 20px 0;
    }
    .visual .popup .slide .txt p {
        font-size: 1.5rem;
    }
    .visual .popup .slide .txt h3,
    .visual .popup .slide .txt p {
        transform: translate3d(0, 50%, 0);
        opacity: 0;
        transition: transform 1s, opacity 1s;
        transition-delay: 0.3s;
    }
    .visual .popup .slide.slick-active .txt h3,
    .visual .popup .slide.slick-active .txt p {
        transform: translateY(0);
        opacity: 1;
    }
    .visual .popup .slide .txt h3 line {
        display: block;
    }
    .visual .scroll {
        display: none;
    }
}/*media*/

/************************** section 공통 스타일 ******************************/
section .tit strong span {
    color: var(--color-main);
}
section .tit h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    margin: 8px 0 0 0;
}
@media screen and (max-width:1024px){
    section .tit strong {
        display: none;
    }
    section .tit h2 {
        font-size: 2.8rem;
        margin-top: 0;
    }
    section .tit h2 span {
        color: var(--color-main);
    }
}/*media*/
@media screen and (max-width:768px){
    section .tit h2 {
        font-size: 2.4rem;
    }
}/*media*/
/************************** section 공통 스타일 끝 ******************************/

.biz {
    margin: 165px 0 0 0;
}
.biz .list {
    margin: 40px 0 0 0;
}
.biz .list ul {
    display: flex;
    gap: 0 1px;
}
.biz .list ul li {
    overflow: hidden;
    width: 25%; /* 4등분 */
    height: 614px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/biz01.jpg);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 30px 60px 30px;
    position: relative; /* before 정렬 기준 */
    transition: width 0.5s;
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz02.jpg);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz03.jpg);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz04.jpg);
}
.biz .list ul li::before {
    content: "";
    position: absolute; /* li 정렬 기준 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.biz .list ul li .txt {
    position: relative;
    z-index: 10;
}
.biz .list ul li .txt strong {
    font-weight: 700;
}
.biz .list ul li .txt h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 4px 0 0 0;
}
@media screen and (min-width:1025px){ /* 1025px 이상 - pc버전 */
    .biz .list ul li.active {
        width: 70%;
        padding: 0 40px 60px 40px;
    }
    .biz .list ul li .txt {
        transform: translateY(101px);
        transition: transform 0.5s;
    }
    .biz .list ul li.active .txt {
        transform: translateY(0);
    }
    .biz .list ul li .txt strong {
        transition: font-size 0.5s;
    }
    .biz .list ul li.active .txt strong {
        font-size: 2rem;
    }
    .biz .list ul li .txt h3 {
        transition: font-size 0.5s;
    }
    .biz .list ul li.active .txt h3 {
        font-size: 4rem;
    }
    .biz .list ul li .txt p {
        margin: 18px 0 0 0;
        opacity: 0;
        white-space: nowrap;
    }
    .biz .list ul li .txt a {
        opacity: 0;
        display: inline-block;
        margin: 14px 0 0 0;
        padding: 1px 56px 5px 18px;
        border: 1px solid var(--color-white);
        border-radius: 20px;
        position: relative; /* after 정렬 기준 */
        transition: 0.3s;
    }
    .biz .list ul li .txt a::after {
        content: "";
        position: absolute; /* a 기준 정렬 */
        right: 21px;
        top: 11.4px;
        width: 14px;
        height: 9px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 9' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91037 8.84625L13.3335 4.42313L8.91037 0L8.32058 0.589792L11.7372 4.00646H0.000163078V4.83979H11.7372L8.32058 8.25646L8.91037 8.84625Z' /%3E%3C/svg%3E%0A");
        transition: 0.3s;
    }
    .biz .list ul li.active .txt p {
        opacity: 1;
    }
    .biz .list ul li.active .txt a {
        opacity: 1;
    }
    .biz .list ul li.active .txt a:hover {
        background-color: var(--color-white);
        color: var( --color-dark);
    }
    .biz .list ul li .txt a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 9' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91037 8.84625L13.3335 4.42313L8.91037 0L8.32058 0.589792L11.7372 4.00646H0.000163078V4.83979H11.7372L8.32058 8.25646L8.91037 8.84625Z' /%3E%3C/svg%3E%0A");
    }
    .biz .list.over ul li:not(.active) {
        /* list가 오버된 상태에서 li 중 active 클래스가 없는 li 전부 다 */
        color: rgba(255, 255, 255, 0.8);
    }
    .biz .list.over ul li:not(.active)::before {
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* background-image를 취소하고 background-color를 주기 위해 background로 스타일을 줌 */
    }
}/*media*/
@media screen and (min-width:1025px) and (max-width:1280px){ /* 1280 ~ 1025 */
    .biz .list ul li .txt strong {
        font-size: 1.9rem;
    }
    .biz .list ul li .txt h3 {
        font-size: 3rem;
    }
    .biz .list ul li .txt p {
        font-size: 1.6rem;
    }
}/*media*/
@media screen and (max-width:1024px){
    .biz {
        margin: 140px 0 0 0;
    }
    .biz .list {
        margin: 35px 0 0 0;
        overflow-x: auto;
    }
    .biz .list ul {
        gap: 0 8px;
        width: 1224px;
        margin: 0 var(--wrapper-m) 0 var(--wrapper-m);
        /*
            li의 넓이(300px) * 4 = 1200px
            li 사이의 여백(8px) * 3= 24px
            1200 + 24 = 1224px
        */
    }
    .biz .list ul li {
        width: 300px; /* 4등분(25%) -> 고정 넓이, 높이로 변경 */
        height: 450px;
        padding: 0 20px 40px 20px;
        border-radius: 10px;
    }
    .biz .list ul li .txt h3 {
        font-size: 2.8rem;
    }
    .biz .list ul li .txt p {
        display: none;
    }
    .biz .list ul li .txt a {
        position: absolute; /* txt 기준 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .biz .list ul li .txt a span {
        display: none; /* 글자 숨김 */
    }
}/*media*/
@media screen and (max-width:768px){
    .biz {
        margin: 120px 0 0 0;
    }
    .biz .list {
        margin: 30px 0 0 0;
    }
    .biz .list ul li {
        width: 250px; /* 4등분(25%) -> 고정 넓이, 높이로 변경 */
        height: 320px;
        padding: 0 20px 30px 20px;
    }
    .biz .list ul li .txt h3 {
        font-size: 2.8rem;
    }
    .biz .list ul li .txt p {
        display: none;
    }
}/*media*/

.news {
    margin: 165px 0 0 0;
}
.news .list {
    margin: 40px 0 0 0;
}
.news .list .swiper-slide {
    width: 326px;
}
.news .list .swiper-slide a {
    display: block;
    border-top: 1px solid var(--color-dark);
    position: relative; /* before 정렬 기준 */
}
.news .list .swiper-slide a::before {
    content: "";
    position: absolute; /* a 기준 정렬 */
    left: 0;
    top: -1px;
    width: 0;
    height: 1px;
    background-color: var(--color-main);
    transition: 1s;
}
.news .list .swiper-slide a:hover::before {
    width: 100%;
}
.news .list .swiper-slide a .date {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    margin: 30px 0;
}
.news .list .swiper-slide a h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    /* 2줄 제한 */
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;
}
.news .list .swiper-slide a p {
    margin: 15px 0 15px 0;
    /* 3줄 제한 */
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
    word-break: break-all; /* 단어별 줄바꿈 해제 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 166px;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .ctrl_wrap {
    margin: 27px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news .ctrl_wrap .scrollbar {
    width: calc(100% - 245px);
    height: 4px;
    background-color: var(--color-gray);
    border-radius: 5px;
}
.news .ctrl_wrap .scrollbar .swiper-scrollbar-drag {
    top: -1px;
    height: 6px;
    background-color: var(--color-main);
}
.news .ctrl_wrap .inner {
    display: flex;
    gap: 0 5px;
}
.news .ctrl_wrap .inner .btn_prev,
.news .ctrl_wrap .inner .btn_next {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-dark);
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 12' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41185 6L6 0.800057L5.29407 0L0 6L5.29407 12L6 11.1999L1.41185 6Z' /%3E%3C/svg%3E%0A");
    transition: 0.3s;
}
.news .ctrl_wrap .inner .btn_next {
    transform: rotate(180deg);
}
.news .ctrl_wrap .inner .btn_prev:hover,
.news .ctrl_wrap .inner .btn_next:hover {
    background-color: var(--color-dark);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 12' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41185 6L6 0.800057L5.29407 0L0 6L5.29407 12L6 11.1999L1.41185 6Z' /%3E%3C/svg%3E%0A");
}
.news .ctrl_wrap .inner .more a {
    display: block;
    height: 32px;
    line-height: 26px;
    border: 1px solid var(--color-dark);
    padding: 0 60px 0 16px;
    border-radius: 20px;
    position: relative; /* after 정렬 기준 */
    font-size: 1.5rem;
    color: var(--color-dark);
    transition: 0.3s;
}
.news .ctrl_wrap .inner .more a::after {
    content: "";
    position: absolute; /* a 기준 정렬 */
    right: 19px;
    top: 10.4px;
    width: 14px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 9' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91037 8.84625L13.3335 4.42313L8.91037 0L8.32058 0.589792L11.7372 4.00646H0.000163078V4.83979H11.7372L8.32058 8.25646L8.91037 8.84625Z' /%3E%3C/svg%3E%0A");
    transition: 0.3s;
}
.news .ctrl_wrap .inner .more a:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
}
.news .ctrl_wrap .inner .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91037 8.84625L13.3335 4.42313L8.91037 0L8.32058 0.589792L11.7372 4.00646H0.000163078V4.83979H11.7372L8.32058 8.25646L8.91037 8.84625Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .news {
        margin: 140px 0 0 0;
    }
    .news .list {
        margin: 35px 0 0 0;
    }
    .news .list .swiper-slide a .date {
        font-size: 3rem;
        margin: 25px 0;
    }
    .news .list .swiper-slide a h3 {
        font-size: 2.2rem;
    }
    .news .list .swiper-slide a p {
        margin: 13px 0 13px 0;
        font-size: 1.6rem;
    }
    .news .list .swiper-slide a .photo {
        height: 150px;
    }
}/*media*/
@media screen and (max-width:768px){
    .news {
        margin: 120px 0 0 0;
    }
    .news .list {
        margin: 30px 0 0 0;
    }
    .news .list .swiper-slide a .date {
        font-size: 2.8rem;
        margin: 20px 0;
    }
    .news .list .swiper-slide a h3 {
        font-size: 2rem;
    }
    .news .list .swiper-slide a p {
        margin: 10px 0 10px 0;
        font-size: 1.5rem;
    }
    .news .list .swiper-slide a .photo {
        height: 138px;
    }
    .news .ctrl_wrap {
        margin: 16px 0 0 0;
    }
    .news .ctrl_wrap .scrollbar {
        width: calc(100% - 105px);
        height: 2px;
    }
    .news .ctrl_wrap .scrollbar .swiper-scrollbar-drag {
        top: 0;
        height: 2px;
    }
    .news .ctrl_wrap .inner {
        gap: 0;
    }
    .news .ctrl_wrap .inner .btn_prev,
    .news .ctrl_wrap .inner .btn_next {
        display: none;
    }
    .news .ctrl_wrap .inner .more a {
        height: 30px;
        line-height: 25px;
        padding: 0 40px 0 13px;
        font-size: 1.4rem;
    }
    .news .ctrl_wrap .inner .more a::after {
        content: "";
        position: absolute; /* a 기준 정렬 */
        right: 17px;
        top: 10.4px;
        width: 11px;
        height: 8px;
    }
}/*media*/

@media screen and (min-width:1025px){ /*service pc버전*/
    .service {
        margin: 165px 0 0 0;
    }
    .service h2 {
        display: none;
    }
    .service .list {
        background: url(../images/main/service_bg01.jpg) no-repeat center center / cover;
        color: var(--color-white);
        transition: 0.5s;
    }
    /* 속성 선택자 ==>
     <div class="list" data-bg="service01"> 이 요소를 선택 */
    .service .list[data-bg="service01"] {
        background-image: url(../images/main/service_bg02.jpg);
    }
    .service .list[data-bg="service02"] {
        background-image: url(../images/main/service_bg03.jpg);
    }
    .service .list[data-bg="service03"] {
        background-image: url(../images/main/service_bg04.jpg);
    }
    .service .list ul {
        display: flex;
    }
    .service .list ul li {
        width: 33.33%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative; /* li 정렬 기준 */
    }
    .service .list ul li::after {
        content: "";
        position: absolute; /* li 기준 정렬 */
        right: 0;
        top: 253px;
        width: 1px;
        height: 94px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    .service .list ul li:last-child::after {
        display: none;
    }
    .service .list ul li a {
        display: block;
        transform: translateY(36px);
        transition: transform 0.5s;
    }
    .service .list ul li:hover a {
        transform: translateY(0);
    }
    .service .list ul li a strong {
        font-weight: 700;
    }
    .service .list ul li a h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        margin: 14px 0 40px 0;
    }
    .service .list ul li a .more {
        opacity: 0;
        transition: opacity 0.5s;
        display: inline-block;
        height: 32px;
        line-height: 26px;
        border: 1px solid var(--color-white);
        padding: 0 60px 0 16px;
        border-radius: 20px;
        position: relative;
        font-size: 1.5rem;
    }
    .service .list ul li:hover a .more {
        opacity: 1;
    }
    .service .list ul li a .more::after {
        content: "";
        position: absolute; /* a 기준 정렬 */
        right: 19px;
        top: 10.4px;
        width: 14px;
        height: 9px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91037 8.84625L13.3335 4.42313L8.91037 0L8.32058 0.589792L11.7372 4.00646H0.000163078V4.83979H11.7372L8.32058 8.25646L8.91037 8.84625Z' /%3E%3C/svg%3E%0A");
    }
}/*media*/
@media screen and (min-width:1025px) and (max-width:1080px){
    .service .list ul li a strong {
        font-size: 1.6rem;
    }
    .service .list ul li a h3 {
        font-size: 2rem;
        margin: 7px 0 20px 0;
    }
}/*media*/
@media screen and (max-width:1024px){ /*service mobile 버전*/
    .service {
        margin: 120px 0 0 0;
        padding: 62px 0 62px 0;
        background: url(../images/main/service_mo.jpg) no-repeat center center / cover;
    }
    .service .tit h2 {
        display: block;
        font-size: 2.4rem;
        color: var(--color-white);
    }
    .service .list {
        margin: 40px var(--wrapper-m) 0 var(--wrapper-m);
        color: var(--color-white);
    }
    .service .list ul {
        display: flex;
        gap: 0 7px;
    }
    .service .list ul li {
        width: 33.33%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    }
    .service .list ul li a {
        display: block;
        padding: 51px 35px 121px 35px;
        position: relative; /* after 정렬 기준 */
        text-align: center;
    }
    .service .list ul li a::after {
        content: "";
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 42px;
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-white);
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 11.2px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.35284 6L0 0.800057L0.823581 0L7 6L0.823581 12L0 11.1999L5.35284 6Z' /%3E%3C/svg%3E%0A");
    }
    .service .list ul li a strong {
        font-size: 1.6rem;
    }
    .service .list ul li a h3 {
        margin: 12px 0 0 0;
    }
    .service .list ul li a .more{
        display: none;
    }
}/*media*/
@media screen and (max-width:852px){
    .service .tit h2 {
        text-align: center;
    }
    .service .list {
        margin: 54px var(--wrapper-m) 0 var(--wrapper-m);
    }
    .service .list ul {
        flex-direction: column;
        gap: 8px 0;
    }
    .service .list ul li {
        width: 100%;
    }
    .service .list ul li a {
        padding: 20px 16px;
        text-align: left;
    }
    .service .list ul li a::after {
        right: 14px;
        top: 17px;
        bottom: auto;
        transform: translateX(0);
        width: 30px;
        height: 30px;
        background-size: 7px;
    }
    .service .list ul li a strong {
        font-size: 1.5rem;
    }
    .service .list ul li a h3,
    .service .list ul li a .more{
        display: none;
    }
}