/***********************************
* 파일명 : main.css
* 작성자 : 신수진
* 작성일 : 25-10-23
    * 설  명 : index파일 (메인페이지) 에서만 호출하는 css
                --> 메인페이지(index) 스타일 선언 (header / footer 제외)
            default.css (태그의 초기화 = 브라우저의 기본 스타일 삭제)
            common.css 또는 reset.css (wrapper, wrap, blind 처럼 모든 페이지에서 반복되는 기본 스타일)
                --> :root 또는 var / 변수가 너무 많으면 variable 파일로 분리도 함
                layout.css (문서의 구조에 영향을 끼치는 요소 - header / footer)
                sub.css (메인을 제외한 모든 페이지에서 호출)
************************************/

@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬 기준 */
    color: var(--color-white);
}
.visual .popup .slide {
    position: relative; /* photo 정렬 기준 */
    height: 100dvh;
    /* txt를 slide의 하단에 배치 - 넓이가 100% */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup .slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .popup .slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 2s;
}
.visual .popup .slide.slick-active .photo img { /* 현재 보이는 팝업일 때 */
    transform: scale3d(1, 1, 1);
}
.visual .popup .slide .txt {
    margin-bottom: 186px;
}
.visual .popup .slide .txt h3 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 12px 0;
}
@media screen and (min-width:769px){
    .visual .popup .slide .txt .line {
        display: block;
        overflow: hidden;
    }
    .visual .popup .slide .txt .line span {
        display: block;
        transform: translateY(100%); 
        transition: transform 1s;
        transition-delay: 0.3s;
        padding-bottom: 4px;
    }
    .visual .popup .slide.slick-active .txt .line span { /* 현재 보이는 팝업일 때 */
        transform: translateY(0);
    }
}/*media*/
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    left: 50%;
    bottom: 85px;
    transform: translateX(-50%);
    font-size: 1.5rem;
}
.visual .scroll::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -60px;
    width: 22px;
    height: 39px;
    transform: translateX(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 37' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1765 25.7353V10.5C20.1765 5.15583 15.8442 0.823529 10.5 0.823529C5.15583 0.823529 0.82353 5.15583 0.823529 10.5V25.7353C0.823529 31.0795 5.15583 35.4118 10.5 35.4118V36.2353C4.70101 36.2353 0 31.5343 0 25.7353V10.5C4.2448e-07 4.70101 4.70101 0 10.5 0C16.299 0 21 4.70101 21 10.5V25.7353L20.9964 26.0063C20.8526 31.68 16.2084 36.2353 10.5 36.2353V35.4118C15.8442 35.4118 20.1765 31.0795 20.1765 25.7353Z' fill='white'/%3E%3Cpath d='M12.3529 12.1473V7.61788C12.3529 6.59453 11.5233 5.76494 10.5 5.76494C9.47661 5.76494 8.64702 6.59453 8.64702 7.61788V12.1473C8.64702 13.1706 9.47661 14.0002 10.5 14.0002V14.8238C9.06804 14.8238 7.89889 13.6993 7.82711 12.2852L7.82349 12.1473V7.61788C7.82349 6.1397 9.02178 4.94141 10.5 4.94141C11.9781 4.94141 13.1764 6.1397 13.1764 7.61788V12.1473C13.1764 13.6255 11.9781 14.8238 10.5 14.8238V14.0002C11.5233 14.0002 12.3529 13.1706 12.3529 12.1473Z' /%3E%3C/svg%3E%0A");
    animation: scroll 1.8s linear infinite;
}
@keyframes scroll {
    0% { bottom: -43px;}
    50% { bottom: -60px;}
    100% { bottom: -43px;}
}
@media screen and (max-width:1024px){
    .visual .popup .slide .txt h3 {
        font-size: 4rem;
    }
}
@media screen and (max-width:768px){
    .visual .popup .slide {
        height: 600px;
        /* txt를 slide의 하단에 배치 - 넓이가 100% */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .visual .popup .slide .photo img {
        transform: scale3d(1.2, 1.2, 1);
        transition: 2s;
    }
    .visual .popup .slide.slick-active .photo img { /* 현재 보이는 팝업일 때 */
        transform: scale3d(1, 1, 1);
    }
    .visual .popup .slide .txt {
        margin-bottom: 134px;
        text-align: center;
    }
    .visual .popup .slide .txt h3 {
        font-size: 2.4rem;
        margin: 0 0 20px 0;
    }
    .visual .popup .slide .txt h3,
    .visual .popup .slide .txt p {
        transform: translate3d(0, 50%, 0);
        opacity: 0;
        transition: transform 1s, opacity 1s;
        transition-delay: 0.3s;
    }
    .visual .popup .slide.slick-active .txt h3,
    .visual .popup .slide.slick-active .txt p {
        transform: translateY(0);
        opacity: 1;
    }
    .visual .popup .slide .txt h3 line {
        display: block;
    }
    .visual .scroll {
        display: none;
    }
}/*media*/
